<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
    ">


    <util:map id="messageTypesMapping"
              map-class="java.util.LinkedHashMap">
        <entry key="registration"
               value="REGISTER_SUBJECT"/>
        <entry key="study"
               value="STUDY_CREATION"/>
    </util:map>


    <bean id="credentialProvider"
        class="edu.duke.cabig.c3pr.accesscontrol.GridCredentialProvider"/>
    
    <bean id="c3dPatientPositionResponseHandler"
          class="edu.duke.cabig.c3pr.utils.C3DPatientPositionResponseHandler"
          autowire="byType"/>

    <util:set id="caXchangeMessageResponseHandlerSet"
              set-class="edu.duke.cabig.c3pr.esb.CaXchangeMessageResponseHandlerSet">
        <ref local="c3dPatientPositionResponseHandler"/>
    </util:set>

    <!--default implementation will just track status and
set it appropriately for the domain object sent as ccts message-->
    <bean id="cctsMessageWorkflowCallbackFactory"
          class="edu.duke.cabig.c3pr.utils.DefaultCCTSMessageWorkflowCallbackFactory">
        <property name="dao" ref="studySubjectDao"/>
    </bean>

    <bean id="messageBroadcaster"
          class="edu.duke.cabig.c3pr.esb.impl.CaXchangeMessageBroadcasterImpl"
          lazy-init="true">
        <property name="caXchangeURL" value="${esb.brokerUrl}"/>
        <property name="messageTypesMapping" ref="messageTypesMapping"/>
        <property name="messageResponseHandlers" ref="caXchangeMessageResponseHandlerSet"/>
        <property name="credentialProvider"  ref="credentialProvider"/>
    </bean>

</beans>
