<!--
  Copyright Duke Comprehensive Cancer Center and SemanticBits
   
     Distributed under the OSI-approved BSD 3-Clause License.
     See  https://github.com/NCIP/c3pr/LICENSE.txt for details.
-->
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    ">
    
    <bean id="dataSource" class="edu.duke.cabig.c3pr.utils.DeferredLoadingFactoryBean">
        <property name="beanNames">
            <list>
                <value>localPoolDataSource</value>
            </list>
        </property>
    </bean>

    <bean id="localPoolDataSource" lazy-init="true" class="org.apache.commons.dbcp.BasicDataSource"
        p:driverClassName="${datasource.driver}"
        p:maxActive="10" p:maxIdle="2"
        p:maxWait="180000"
        p:removeAbandoned="true"
        p:removeAbandonedTimeout="300"
        p:logAbandoned="true"
        p:testWhileIdle="true"
        p:testOnReturn="true"
        p:timeBetweenEvictionRunsMillis="300000"
        p:minEvictableIdleTimeMillis="600000"
        p:url="${datasource.url}"
        p:username="${datasource.username}"
        p:password="${datasource.password}" />
        
         
       <bean id="csmDataSource" class="edu.duke.cabig.c3pr.utils.DeferredLoadingFactoryBean">
        <property name="beanNames">
            <list>
                <value>csmLocalPoolDataSource</value>
            </list>
        </property>
    </bean>

    <bean id="csmLocalPoolDataSource" lazy-init="true" class="org.apache.commons.dbcp.BasicDataSource"
        p:driverClassName="${csmDatasource.driver}"
        p:maxActive="5" p:maxIdle="2"
        p:maxWait="180000"
        p:removeAbandoned="true"
        p:removeAbandonedTimeout="300"
        p:logAbandoned="true"
        p:testWhileIdle="true"
        p:testOnReturn="true"
        p:timeBetweenEvictionRunsMillis="300000"
        p:minEvictableIdleTimeMillis="600000"
        p:url="${csmDatasource.url}"
        p:username="${csmDatasource.username}"
        p:password="${csmDatasource.password}" /> 

    <bean id="hibernateProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.connection.pool_size">10</prop>
                <prop key="hibernate.show_sql">${show_sql}</prop>
                <prop key="hibernate.dialect">
                    ${datasource.dialect}
                </prop>
                <prop key="hibernate.query.substitutions">
                    true 1, false 0, yes 'Y', no 'N'
                </prop>
                <prop key="hibernate.jdbc.batch_size">30</prop>
            </props>
        </property>
    </bean>

    <bean id="auditHibernateProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.connection.pool_size">10</prop>
                <prop key="hibernate.show_sql">${show_sql}</prop>
                <prop key="hibernate.dialect">
                    ${audit.dialect}
                </prop>
                <prop key="hibernate.query.substitutions">
                    true 1, false 0, yes 'Y', no 'N'
                </prop>
                <prop key="hibernate.jdbc.batch_size">30</prop>
            </props>
        </property>
    </bean>

    <bean id="beringMigrator" class="edu.northwestern.bioinformatics.bering.servlet.DeployedMigrator">
        <!-- We can't use the local pool data source because its validation query is dependent on bering having run at least once. -->
        <property name="dataSource" ref="fileLoadedDatasource"/>
        <property name="resourcePath" value="db/bering"/>
    </bean>


</beans>
