<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
    ">

    <bean id="csmApplicationContextName" class="java.lang.String">
        <constructor-arg value="${csm.context.name}"/>
    </bean>
    
    <util:map id="connectionProperties" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
		<entry key="hibernate.connection.url" value="${csmDatasource.url}"></entry>
		<entry key="hibernate.connection.driver_class" value="${csmDatasource.driver}"></entry>
		<entry key="hibernate.dialect" value="${csmDatasource.dialect}"></entry>
		<entry key="hibernate.connection.username" value="${csmDatasource.username}"></entry>
		<entry key="hibernate.connection.password" value="${csmDatasource.password}"></entry>
		<entry key="hibernate.c3p0.min_size" value="1"></entry>
		<entry key="hibernate.c3p0.max_size" value="1"></entry>
		<entry key="hibernate.c3p0.timeout" value="300"></entry>
		<entry key="hibernate.c3p0.max_statements" value="50"></entry>
		<entry key="hibernate.c3p0.idle_test_period" value="3000"></entry>
	</util:map>

    <bean id="ACCESS_PRIVILEGE" class="java.lang.String">
        <constructor-arg value="ACCESS"/>
    </bean>

    <bean id="authorizationSwitch" class="gov.nih.nci.security.acegi.csm.authorization.AuthorizationSwitch">
        <property name="on" ref="booleanFromString">
        </property>
    </bean>

    <bean id="booleanFromString" class="java.lang.Boolean">
        <constructor-arg value="${authorizationSwitch}"/>
    </bean>
<!-- 
    <bean id="csmAuthorizationDao"
          class="edu.duke.cabig.c3pr.dao.FasterAuthorizationDaoImpl">
        <constructor-arg index="0">
            <bean class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
                <property name="dataSource" ref="csmDataSource"/>
                <property name="mappingResources">
                    <list>
                        <value>gov/nih/nci/security/authorization/domainobjects/Privilege.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/Application.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/Role.hbm.xml</value>
                        <value>gov/nih/nci/security/dao/hibernate/RolePrivilege.hbm.xml</value>
                        <value>gov/nih/nci/security/dao/hibernate/UserGroup.hbm.xml</value>
                        <value>gov/nih/nci/security/dao/hibernate/ProtectionGroupProtectionElement.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/Group.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/User.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/ProtectionGroup.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/ProtectionElement.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/UserGroupRoleProtectionGroup.hbm.xml</value>
                        <value>gov/nih/nci/security/authorization/domainobjects/UserProtectionElement.hbm.xml</value>
                    </list>
                </property>
                <property name="hibernateProperties">
                    <ref bean="hibernateProperties"/>
                </property>
            </bean>
        </constructor-arg>
        <constructor-arg index="1" ref="csmApplicationContextName"/>
    </bean>
 -->

    <bean id="csmUserProvisioningManager" class="gov.nih.nci.security.provisioning.AuthorizationManagerImpl">
        <!--   <property name="authorizationDAO" ref="csmAuthorizationDao"/>   -->
        <constructor-arg index="0" ref="csmApplicationContextName"/>
		<constructor-arg index="1" ref="connectionProperties"/>
    </bean>

    <bean id="csmAuthenticationManager" class="gov.nih.nci.security.SecurityServiceProvider" factory-method="getAuthenticationManager">
        <constructor-arg ref="csmApplicationContextName"/>
    </bean>

	<bean id="provisioningSessionFactory" class="gov.nih.nci.cabig.ctms.suite.authorization.ProvisioningSessionFactory">
		<property name="authorizationManager" ref="csmUserProvisioningManager"/>
	</bean>
	
	<bean id="authorizationHelper" class="gov.nih.nci.cabig.ctms.suite.authorization.AuthorizationHelper">
		<property name="authorizationManager" ref="csmUserProvisioningManager"/>
	</bean>
	
</beans>
