<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
    ">



    <bean id="authenticationManager"
          class="org.acegisecurity.providers.ProviderManager">
        <property name="providers">
            <list>
                <ref bean="csmAuthenticationProvider"/>
                <bean
                        class="org.acegisecurity.providers.anonymous.AnonymousAuthenticationProvider">
                    <property name="key" value="anonymousAuthKey"/>
                </bean>
            </list>
        </property>

    </bean>
 
    <aop:aspectj-autoproxy/>
    <aop:spring-configured/>

    <aop:config>
        <!-- pointcuts -->
        <aop:pointcut id="daoMethodPointcut"
                      expression="execution(public void edu.duke.cabig.c3pr.dao.C3PRBaseDao+.save(gov.nih.nci.cabig.ctms.domain.AbstractMutableDomainObject+)) ||
                      execution(public void edu.duke.cabig.c3pr.dao.C3PRBaseDao+.merge(gov.nih.nci.cabig.ctms.domain.AbstractMutableDomainObject+))||
                      execution(public * edu.duke.cabig.c3pr.dao.C3PRBaseDao+.search*(..))||
                      execution(public * edu.duke.cabig.c3pr.dao.C3PRBaseDao+.get*(..))
                      "/>

        <!-- aspects -->
        <aop:aspect id="daoSaveOrUpdateSecurityInterceptorAspect"
                    ref="daoSecurityInterceptorAspectBean">
            <aop:around pointcut-ref="daoMethodPointcut"
                        method="advise"/>


        </aop:aspect>
    </aop:config>


    <bean id="daoSecurityInterceptorAspectBean"
          class="gov.nih.nci.security.acegi.csm.aop.SecurityInterceptorAspect">
        <property name="securityInterceptor"
                  ref="daoSecurityInterceptor"/>
    </bean>

    <bean id="daoSecurityInterceptorTemplate" abstract="true">
        <property name="authenticationManager"
                  ref="authenticationManager"/>
    </bean>

    <util:map id="joinPointObjectPrivilegeMap"
              map-class="java.util.LinkedHashMap">

        <entry key="execution(* save(edu.duke.cabig.c3pr.domain.Study))"
               value="edu.duke.cabig.c3pr.domain.Study:CREATE"/>

        <entry key="execution(* merge(edu.duke.cabig.c3pr.domain.Study))"
               value="edu.duke.cabig.c3pr.domain.Study:UPDATE"/>

        <entry key="execution(* edu.duke.cabig.c3pr.dao.StudyDao.search*(..))"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>

        <entry key="execution(* edu.duke.cabig.c3pr.dao.StudyDao.get*(..))"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>

        <entry key="execution(* save(edu.duke.cabig.c3pr.domain.StudySubject))"
               value="edu.duke.cabig.c3pr.domain.Registration:CREATE"/>

        <entry key="execution(* merge(edu.duke.cabig.c3pr.domain.StudySubject))"
               value="edu.duke.cabig.c3pr.domain.Registration:UPDATE"/>

        <entry key="execution(* reassociate(edu.duke.cabig.c3pr.domain.StudySubject))"
               value="edu.duke.cabig.c3pr.domain.Registration:UPDATE"/>

        <entry key="execution(* edu.duke.cabig.c3pr.dao.StudySubjectDao.get*(..))"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>

        <entry key="execution(* edu.duke.cabig.c3pr.dao.StudySubjectDao.search*(..))"
               value="edu.duke.cabig.c3pr.domain.Registration:READ"/>

        <entry key="execution(* edu.duke.cabig.c3pr.dao.StudySubjectDao.advancedSearch(..))"
               value="edu.duke.cabig.c3pr.domain.Registration:READ"/>

        <entry key="execution(* edu.duke.cabig.c3pr.dao.StudySubjectDao.advancedStudySearch()(..))"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>


    </util:map>

    <bean id="joinPointPrivilegeAndObjectIdGenerator"
          class="gov.nih.nci.security.acegi.csm.authorization.JoinPointPrivilegeAndObjectIdGenerator">
        <property name="objectPrivilegeMap"
                  ref="joinPointObjectPrivilegeMap"/>
    </bean>

    <bean  id="csmGroupAuthorizationCheck"
           class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
        <property name="csmUserProvisioningManager"
                  ref="csmUserProvisioningManager"/>
        <property name="authorizationSwitch" ref="authorizationSwitch"/>
    </bean>

    <bean id="daoAuthorizationCheck" autowire="byType"
          class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
        <property name="csmAuthorizationCheck" ref="csmGroupAuthorizationCheck">
        </property>
        <property name="objectIdGenerator"
                  ref="joinPointPrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator"
                  ref="joinPointPrivilegeAndObjectIdGenerator"/>
    </bean>

    <bean id="daoSecurityInterceptor" parent="daoSecurityInterceptorTemplate"
          class="org.acegisecurity.intercept.method.aspectj.AspectJSecurityInterceptor">
        <property name="objectDefinitionSource">
            <value>
                edu.duke.cabig.c3pr.dao.StudyDao.*=CSM_AUTHN_CHECK
                edu.duke.cabig.c3pr.dao.StudySubjectDao.*=CSM_AUTHN_CHECK
            </value>
        </property>
        <property name="accessDecisionManager">
            <bean class="org.acegisecurity.vote.AffirmativeBased">
                <property name="allowIfAllAbstainDecisions">
                    <value>false</value>
                </property>
                <property name="decisionVoters">
                    <list>
                        <bean
                                class="gov.nih.nci.security.acegi.csm.vote.AuthorizationSwitchVoter">
                            <property name="authorizationSwitch" ref="authorizationSwitch"/>
                            <property name="requiresAuthentication" value="false"/>
                        </bean>
                        <bean
                                class="gov.nih.nci.security.acegi.csm.vote.CSMAuthorizationCheckVoter">
                            <property name="processConfigAttribute"
                                      value="CSM_AUTHN_CHECK"/>
                            <property name="authorizationCheck"
                                      ref="daoAuthorizationCheck"/>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
        <property name="afterInvocationManager"><ref bean="afterInvocationManager"/></property>
    </bean>


    <bean id="afterInvocationManager" class="org.acegisecurity.afterinvocation.AfterInvocationProviderManager">
        <property name="providers">
            <list>
                <ref local="siteSecurityBasicAuthCheck"/>
                <ref local="siteSecurityCollectionFilter"/>
            </list>
        </property>
    </bean>

    <bean id="studySiteSiteSecurityCSMGroupAuthorizationCheckProvider" class="edu.duke.cabig.c3pr.accesscontrol.StudySiteSiteSecurityCSMGroupAuthorizationCheckProvider">
        <property name="siteObjectIdGenerator" ref="sitePrivilegeAndObjectIdGenerator"/>
        <property name="csmGroupAuthorizationCheck" ref="csmGroupAuthorizationCheck"/>
    </bean>

    <bean id="studySubjectSiteCSMGroupAuthorizationCheckProvider" class="edu.duke.cabig.c3pr.accesscontrol.StudySubjectSiteCSMGroupAuthorizationCheckProvider">
        <property name="siteObjectIdGenerator" ref="sitePrivilegeAndObjectIdGenerator"/>
        <property name="csmGroupAuthorizationCheck" ref="csmGroupAuthorizationCheck"/>
    </bean>


    <util:map id="domainObjectSiteSecurityAuhthorizationCheckProvidersMap"
              map-class="java.util.LinkedHashMap">

        <entry key="edu.duke.cabig.c3pr.domain.Study"
               value-ref="studySiteSiteSecurityCSMGroupAuthorizationCheckProvider"/>
        <entry key="edu.duke.cabig.c3pr.domain.StudySubject"
               value-ref="studySubjectSiteCSMGroupAuthorizationCheckProvider"/>

    </util:map>

    <bean id="siteSecurityCollectionFilter" class="edu.duke.cabig.c3pr.accesscontrol.SiteSecurityAfterInvocationCollectionFilteringProvider">
        <property name="processConfigAttribute"
                  value="CSM_AUTHN_CHECK"/>
        <property name="accessPrivilege" value="ACCESS_PRIVILEGE"/>
        <property name="domainObjectSiteSecurityAuhthorizationCheckProvidersMap"
                  ref="domainObjectSiteSecurityAuhthorizationCheckProvidersMap"/>
    </bean>

    <bean id="siteSecurityBasicAuthCheck" class="edu.duke.cabig.c3pr.accesscontrol.SiteSecurityAfterInvocationBasicAuthorizationCheckProvider">
        <property name="processConfigAttribute"
                  value="CSM_AUTHN_CHECK"/>
        <property name="accessPrivilege" value="ACCESS_PRIVILEGE"/>
        <property name="domainObjectSiteSecurityAuhthorizationCheckProvidersMap"
                  ref="domainObjectSiteSecurityAuhthorizationCheckProvidersMap"/>
    </bean>


    <bean id="csmAuthenticationProvider"
          class="gov.nih.nci.security.acegi.csm.authentication.CSMAuthenticationProvider">
        <property name="csmAuthenticationManager">
            <bean class="gov.nih.nci.security.SecurityServiceProvider"
                  factory-method="getAuthenticationManager">
                <constructor-arg ref="csmApplicationContextName"/>
            </bean>
        </property>
        <property name="userDetailsService">
            <bean
                    class="gov.nih.nci.security.acegi.csm.authorization.CSMUserDetailsService">
                <property name="csmUserProvisioningManager"
                          ref="csmUserProvisioningManager"/>
            </bean>
        </property>
        <property name="userCache" ref="userCache"/>
    </bean>

    <bean id="userCache"
          class="org.acegisecurity.providers.dao.cache.EhCacheBasedUserCache">
        <property name="cache">
            <bean
                    class="org.springframework.cache.ehcache.EhCacheFactoryBean">
                <property name="cacheManager">
                    <bean
                            class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>
                </property>
                <property name="cacheName" value="userCache"/>

            </bean>
        </property>
    </bean>



</beans>