<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <!--Transaction support-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <bean id="corePropertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="location" value="classpath:context/core.properties"/>
    </bean>

    <bean
            class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" autowire="byName">
        <property name="namingStrategy">
            <bean class="org.hibernate.cfg.ImprovedNamingStrategy"/>
        </property>
        <!-- Must reference all OR mapping files. -->
        <property name="annotatedClasses">
            <list>
                <value>edu.duke.cabig.c3pr.domain.Study</value>
                <value>edu.duke.cabig.c3pr.domain.Epoch</value>
                <value>edu.duke.cabig.c3pr.domain.NonTreatmentEpoch</value>
                <value>edu.duke.cabig.c3pr.domain.TreatmentEpoch</value>
                <value>edu.duke.cabig.c3pr.domain.Arm</value>
                <value>edu.duke.cabig.c3pr.domain.StudySite</value>
                <value>edu.duke.cabig.c3pr.domain.StudyCoordinatingCenter</value>
                <value>edu.duke.cabig.c3pr.domain.StudyFundingSponsor</value>
                <value>edu.duke.cabig.c3pr.domain.StudyOrganization</value>
                <value>edu.duke.cabig.c3pr.domain.HealthcareSite</value>
                <value>edu.duke.cabig.c3pr.domain.Organization</value>
                <value>edu.duke.cabig.c3pr.domain.Address</value>
                <value>edu.duke.cabig.c3pr.domain.StudySubject</value>
                <value>edu.duke.cabig.c3pr.domain.StudyInvestigator</value>
                <value>edu.duke.cabig.c3pr.domain.HealthcareSiteInvestigator</value>
                <value>edu.duke.cabig.c3pr.domain.StudyPersonnel</value>
                <value>edu.duke.cabig.c3pr.domain.Participant</value>
                <value>edu.duke.cabig.c3pr.domain.ResearchStaff</value>
                <value>edu.duke.cabig.c3pr.domain.Investigator</value>
                <value>edu.duke.cabig.c3pr.domain.ScheduledArm</value>
                <value>edu.duke.cabig.c3pr.domain.SystemAssignedIdentifier</value>
                <value>edu.duke.cabig.c3pr.domain.OrganizationAssignedIdentifier</value>
                <value>edu.duke.cabig.c3pr.domain.Identifier</value>
                <value>edu.duke.cabig.c3pr.domain.EligibilityCriteria</value>
                <value>edu.duke.cabig.c3pr.domain.SubjectEligibilityAnswer</value>
                <value>edu.duke.cabig.c3pr.domain.InclusionEligibilityCriteria</value>
                <value>edu.duke.cabig.c3pr.domain.ExclusionEligibilityCriteria</value>
                <value>edu.duke.cabig.c3pr.domain.StudyDisease</value>
                <value>edu.duke.cabig.c3pr.domain.DiseaseCategory</value>
                <value>edu.duke.cabig.c3pr.domain.DiseaseTerm</value>
                <value>edu.duke.cabig.c3pr.domain.StratificationCriterion</value>
                <value>edu.duke.cabig.c3pr.domain.StratificationCriterionPermissibleAnswer</value>
                <value>edu.duke.cabig.c3pr.domain.SubjectStratificationAnswer</value>
                <value>edu.duke.cabig.c3pr.domain.AnatomicSite</value>
                <value>edu.duke.cabig.c3pr.domain.DiseaseHistory</value>
                <value>edu.duke.cabig.c3pr.domain.ContactMechanism</value>
                <value>edu.duke.cabig.c3pr.domain.ScheduledEpoch</value>
                <value>edu.duke.cabig.c3pr.domain.ScheduledTreatmentEpoch</value>
                <value>edu.duke.cabig.c3pr.domain.ScheduledNonTreatmentEpoch</value>
                <value>edu.duke.cabig.c3pr.domain.StratumGroup</value>
                <value>edu.duke.cabig.c3pr.domain.BookRandomizationEntry</value>
                <value>edu.duke.cabig.c3pr.domain.Randomization</value>
                <value>edu.duke.cabig.c3pr.domain.BookRandomization</value>
                <value>edu.duke.cabig.c3pr.domain.CalloutRandomization</value>
                <value>edu.duke.cabig.c3pr.domain.PhonecallRandomization</value>
                <value>edu.duke.cabig.c3pr.domain.StratificationCriterionAnswerCombination</value>
                <value>edu.duke.cabig.c3pr.domain.StudyAmendment</value>
            </list>
        </property>
        <property name="entityInterceptor">
            <bean
                    class="edu.duke.cabig.c3pr.utils.GridIdentifierInterceptor"
                    autowire="byName"/>
        </property>
        <property name="hibernateProperties">
            <ref bean="hibernateProperties"/>
        </property>
    </bean>
    <bean id="hibernateTemplate"
          class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations" value="true"/>
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate">
            <ref bean="hibernateTemplate"/>
        </property>
    </bean>

    <bean id="openSessionInViewInterceptor"
          class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor"
          autowire="byName">
        <property name="singleSession" value="true"/>
        <property name="flushModeName" value="FLUSH_AUTO"/>
    </bean>
    <bean id="gridIdentifierCreator" class="edu.duke.cabig.c3pr.utils.LocalGridIdentifierCreator"/>

    <!--validators for domain objects   -->
    <bean id="studyValidator" class="edu.duke.cabig.c3pr.domain.validator.StudyValidator" autowire="byName"/>
    <bean id="studySiteValidator" class="edu.duke.cabig.c3pr.domain.validator.StudySiteValidator" autowire="byName"/>
    <bean id="epochValidator" class="edu.duke.cabig.c3pr.domain.validator.EpochValidator" autowire="byName"/>
    <bean id="armValidator" class="edu.duke.cabig.c3pr.domain.validator.ArmValidator"/>
    <bean id="identifierValidator" class="edu.duke.cabig.c3pr.domain.validator.IdentifierValidator" autowire="byName"/>
    <bean id="participantValidator" class="edu.duke.cabig.c3pr.domain.validator.ParticipantValidator"
          autowire="byName"/>

    <tx:annotation-driven proxy-target-class="true"/>

    <!-- Daos -->
    <bean id="studyDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudyDao" autowire="byType"/>
    <bean id="studySubjectDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudySubjectDao" autowire="byType"/>
    <bean id="studySiteDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudySiteDao" autowire="byType"/>
    <bean id="epochDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.EpochDao" autowire="byType"/>
    <bean id="scheduledEpochDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.ScheduledEpochDao"
          autowire="byType"/>
    <bean id="armDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.ArmDao" autowire="byType"/>
    <bean id="participantDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.ParticipantDao" autowire="byType"/>
    <bean id="healthcareSiteDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.HealthcareSiteDao"
          autowire="byType"/>
    <bean id="healthcareSiteInvestigatorDao" parent="daoTemplate"
          class="edu.duke.cabig.c3pr.dao.HealthcareSiteInvestigatorDao" autowire="byType"/>
    <bean id="studyPersonnelDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudyPersonnelDao"
          autowire="byType"/>
    <bean id="researchStaffDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.ResearchStaffDao"
          autowire="byType"/>
    <bean id="investigatorDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.InvestigatorDao" autowire="byType"/>
    <bean id="diseaseCategoryDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.DiseaseCategoryDao"
          autowire="byType"/>
    <bean id="diseaseTermDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.DiseaseTermDao" autowire="byType"/>
    <bean id="studyInvestigatorDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudyInvestigatorDao"
          autowire="byType"/>
    <bean id="StratificationCriterionDao" parent="daoTemplate"
          class="edu.duke.cabig.c3pr.dao.StratificationCriterionDao" autowire="byType"/>
    <bean id="anatomicSiteDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.AnatomicSiteDao" autowire="byType"/>
    <bean id="organizationDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.OrganizationDao" autowire="byType"/>
    <bean id="stratificationAnswerDao" parent="daoTemplate"
          class="edu.duke.cabig.c3pr.dao.StratificationCriterionAnswerDao" autowire="byType"/>


    <!-- Services -->
    <bean id="studyService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.StudyServiceImpl"
          autowire="byType"/>
    <bean id="participantService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.ParticipantServiceImpl"
          autowire="byType"/>
    <bean id="studySubjectService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.StudySubjectServiceImpl"
          autowire="byType">
        <property name="isBroadcastEnable" value="${broadcastEnable}"/>
    </bean>
    <bean id="studyXMLImporterService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.StudyXMLImporterServiceImpl"
          autowire="byType"/>
    <bean id="personnelService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.PersonnelServiceImpl"
          autowire="byType"/>

    <!--Utilities-->

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${outgoing.mail.server}"/>
        <property name="password" value="${outgoing.mail.password}"/>
        <property name="username" value="${outgoing.mail.username}"/>
    </bean>

    <!-- this is a template message that we can pre-load with default state -->
    <bean id="accountCreatedTemplateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="${outgoing.mail.from.address}"/>
        <property name="subject" value="Account created in c3pr"/>
    </bean>

    <bean id="xmlUtility" class="edu.duke.cabig.c3pr.xml.XmlMarshaller">
        <property name="mappingFile" value="c3pr-castor-mapping.xml"/>
    </bean>


</beans>