input[type=button], input[type=submit], input[type=reset] {
    font-size: 11px;
    font-family: Verdana;
    color: black;
    background-color: #f5f6f1;
    border: 2px outset #c36f14;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: 2pt;
    vertical-align: middle;
}

input, label, select, textarea {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  margin-left: 2pt;
  font-size: 11px;
}

input[type=text], input[type=password], select, textarea {
  border-color : #f89223;
  border-style : solid;
  border-width : 1px;
  padding: 2px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
}

input[disabled], select[disabled], textarea[disabled] {
  border-color: #ddc;
  background-color: #ddc;
}

input[type=file] {
  border-color : #f89223;
  border-style : dotted;
  border-width : 1px;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
  border-style: inset;
}

/*
    Styles for scriptaculous-generated autocompleters
 */
div.autocomplete {
	z-index: 30;
    position: absolute;
    background-color: white;
    border: 1px solid #888;
    border-top-width: 0;
    margin: 0;
    padding: 0;
}
div.autocomplete ul {
    list-style-type: none;
    z-index: 30;
    margin: 0;
    padding: 0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
    list-style-type: none;
    z-index: 30;
    display: block;
    margin: 0;
    padding: 2px;
    border-style: solid;
    border-color: #888;
    border-width: 1px 0 0 0;
    cursor: pointer;

}
input.autocomplete{
	background-color: #EEE;
}
/*
    SELECT-equivalent groups of radio buttons
 */
.longselect {
    border: 1px inset #ccc;
}
.longselect label {
    display: block;
    padding: 0.2em 0.5em;
    /* next two properties combine to give a hanging indent */
    text-indent: -1.3em;
    padding-left: 1.8em;
    background-color: #f4f4f5;
}
.longselect label:hover {
    background-color: #D7E7ED;
}