<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright Duke Comprehensive Cancer Center and SemanticBits
 
 Distributed under the OSI-approved BSD 3-Clause License.
 See https://github.com/NCIP/c3pr/blob/gh-pages/LICENSE.txt for details.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       xmlns:util="http://www.springframework.org/schema/util" default-lazy-init="true">

      <bean name="c3prSeleniumPropertyConfigurerFromFile[selenium.base.url]"
          class="edu.duke.cabig.c3pr.tools.PropertiesGetterFactoryBean"/>      
          
    <bean name="c3prSeleniumPropertyConfigurerFromFile[selenium.client.url]"
          class="edu.duke.cabig.c3pr.tools.PropertiesGetterFactoryBean"/>
       
    <bean name="c3prSeleniumPropertyConfigurerFromFile[selenium.wait.time]"
          class="edu.duke.cabig.c3pr.tools.PropertiesGetterFactoryBean"/>
          
    <bean name="c3prSeleniumPropertyConfigurerFromFile[selenium.server.host]"
          class="edu.duke.cabig.c3pr.tools.PropertiesGetterFactoryBean"/>
          
    <bean name="c3prSeleniumPropertyConfigurerFromFile[selenium.server.port]"
          class="edu.duke.cabig.c3pr.tools.PropertiesGetterFactoryBean"/>
          
    <bean name="c3prSeleniumPropertyConfigurerFromFile[selenium.browser]"
          class="edu.duke.cabig.c3pr.tools.PropertiesGetterFactoryBean"/>

	<bean id="seleniumProperties" class="edu.duke.cabig.c3pr.web.selenium.SeleniumProperties">
       <property name="browser" ref="c3prSeleniumPropertyConfigurerFromFile[selenium.browser]"/>
        <property name="waitTime" ref="c3prSeleniumPropertyConfigurerFromFile[selenium.wait.time]"/>
        <property name="baseUrl" ref="c3prSeleniumPropertyConfigurerFromFile[selenium.base.url]"/>
        <property name="seleniumClientUrl" ref="c3prSeleniumPropertyConfigurerFromFile[selenium.client.url]"/>
        <property name="serverHost" ref="c3prSeleniumPropertyConfigurerFromFile[selenium.server.host]"/>
        <property name="serverPort" ref="c3prSeleniumPropertyConfigurerFromFile[selenium.server.port]"/>
    </bean>

<bean id="c3prSeleniumPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="propertiesArray">
            <list>
                <ref bean="c3prSeleniumPropertyConfigurerFromFile"/>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <bean id="c3prSeleniumPropertyConfigurerFromFile"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
            	<value>classpath:context/selenium.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>
	

</beans>
