<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright Duke Comprehensive Cancer Center and SemanticBits
   
     Distributed under the OSI-approved BSD 3-Clause License.
     See  https://github.com/NCIP/c3pr/LICENSE.txt for details.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<util:map id="taskObjectPrivilegeMap">
		<!--  START PERSON/USER -->	
        <entry key="/pages/personAndOrganization/personOrUser/searchPersonOrUser" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.PersonOrUser:READ"/>
        <entry key="/pages/personAndOrganization/personOrUser/createPersonOrUser" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.PersonOrUser:CREATE"/>
        <entry key="/pages/personAndOrganization/personOrUser/editPersonOrUser" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.PersonOrUser:UPDATE"/>
        <!--  END PERSON/USER -->
        
		<!-- START ORGANIZATION -->
		<entry key="/pages/personAndOrganization/organization/createOrganization" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.HealthcareSite:CREATE" />
		<entry key="/pages/personAndOrganization/organization/editOrganization" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.HealthcareSite:UPDATE" />
		<entry key="/pages/personAndOrganization/organization/searchOrganization" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.HealthcareSite:READ" />
		<!-- END ORGANIZATION -->	
		
		<!-- START SUBJECT -->
		<entry key="/pages/personAndOrganization/participant/searchParticipant" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Subject:READ" />
		<entry key="/pages/personAndOrganization/participant/createParticipant" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Subject:CREATE" />
		<entry key="/pages/personAndOrganization/participant/confirmCreateParticipant" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Subject:CREATE" />
		<!-- END SUBJECT -->
		
		<!-- START INVESTIGATOR -->
		<entry key="/pages/personAndOrganization/investigator/searchInvestigator" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Investigator:READ" />
		<entry key="/pages/personAndOrganization/investigator/createInvestigator" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Investigator:CREATE" />
		<entry key="/pages/personAndOrganization/investigator/editInvestigator" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Investigator:READ" />
		<entry key="/pages/personAndOrganization/investigator/createInvestigatorGroups" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Investigator:CREATE" />
		<!-- END INVESTIGATOR -->
		<!--  END PERSON AND ORG SECTION -->
		
		<!--  START ADMIN -->
		<!-- Notification -->
			<entry key="/pages/admin/createNotification" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Notification:CREATE" />
		
		<!-- Import -->
			<entry key="/pages/admin/importStudy" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Import:CREATE" />
			<entry key="/pages/admin/importRegistration" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Import:CREATE" />
		<!-- Configuration -->
			<entry key="/pages/admin/configure" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Configuration:CREATE" />
		<!-- Password Policy -->
			<entry key="/pages/admin/password_policy_configure" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Configuration:CREATE" />
		<!--  END ADMIN -->
		
		<!-- Reports Start -->
		<entry key="/pages/report/createReport" value="edu.duke.cabig.c3pr.domain.Summary3Report:CREATE" />
		<entry key="/pages/report/createStudyReport" value="edu.duke.cabig.c3pr.domain.Summary3Report:CREATE" />
		<entry key="/pages/report/summary3Report" value="edu.duke.cabig.c3pr.domain.Summary3Report:CREATE" />	
		<entry key="/pages/report/createParticipantReport" value="edu.duke.cabig.c3pr.domain.Summary3Report:CREATE" />
			
			<!-- Entries related to advance search  	-->
         	<entry key="/pages/report/advancedSearch/registrationAdvancedSearch" value="edu.duke.cabig.c3pr.domain.StudySubject:READ"/>
        	<entry key="/pages/report/advancedSearch/studyAdvancedSearch" value="edu.duke.cabig.c3pr.domain.Study:READ"/>
       		<entry key="/pages/report/advancedSearch/subjectAdvancedSearch" value="edu.duke.cabig.c3pr.domain.Subject:READ"/>
       	
		<!--  Reports End -->
		
		<!-- Start Registration -->
		
		<entry key="/pages/registration/searchRegistration" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.StudySubject:READ" />
		<entry key="/pages/registration/asynchronous/epochSectionNew.*" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.StudySubject:UPDATE"/>
		<entry key="/pages/registration/createRegistration" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.StudySubject:CREATE" />
		<entry key="/pages/registration/manageRegistration.*" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.StudySubject:READ" />
		<entry key="/pages/study/selectStudySiteAndEpoch" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.StudySubject:CREATE" />
		<!-- END REGISTREATION -->
		
		<!-- Start Study -->
		<entry key="/pages/study/searchStudy" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Study:READ" />
		<entry key="/pages/study/editStudy" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Study:UPDATE" />		
		<entry key="/pages/study/editCompanionStudy" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Study:UPDATE" />
		<entry key="/pages/study/createStudy" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Study:CREATE" />
		<entry key="/pages/study/selectStudySites" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Study:UPDATE" />
		<entry key="/pages/study/createCompanionStudy" value="edu.duke.cabig.c3pr.utils.web.navigation.Task.Study:CREATE" />
		<!-- End Study -->
		<!-- NO IDEA Discuss with Vinay -->
		<entry key="/pages/admin/viewInbox" value="edu.duke.cabig.c3pr.domain.Inbox:READ" />
	</util:map>

	<bean id="taskPrivilegeAndObjectIdGenerator"
		class="edu.duke.cabig.c3pr.web.security.TaskPrivilegeAndObjectIdGenerator">
		<property name="objectPrivilegeMap"
			ref="taskObjectPrivilegeMap" />
	</bean>

	<bean id="taskAuthorizationCheck"
		class="edu.duke.cabig.c3pr.security.authorization.C3PRObjectPrivilegeCheck">
		<property name="objectIdGenerator" ref="taskPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator" ref="taskPrivilegeAndObjectIdGenerator" />
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
	</bean>

	<bean id="loginAuthorizationCheck"
		class="edu.duke.cabig.c3pr.accesscontrol.LoginAuthorizationCheck">
		<property name="configuration" ref="configuration"/>
	</bean>

	<bean id="logoutAuthorizationCheck"
		class="edu.duke.cabig.c3pr.accesscontrol.LogoutAuthorizationCheck">
		<property name="configuration" ref="configuration"/>
	</bean>

	<bean id="studySiteAuthorizationCheck"
		class="edu.duke.cabig.c3pr.accesscontrol.StudySiteAuthorizationCheck">
		<property name="authorizationSwitch" ref="authorizationSwitch" />
		<property name="objectIdGenerator"
			ref="studyOrganizationPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator"
			ref="studyOrganizationPrivilegeAndObjectIdGenerator" />
	</bean>
	

	<bean id="siteAuthorizationCheck"
		class="edu.duke.cabig.c3pr.security.authorization.C3PRObjectPrivilegeCSMAuthorizationCheck">
		<property name="objectIdGenerator" ref="sitePrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator" ref="sitePrivilegeAndObjectIdGenerator" />
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
	</bean>


	<bean id="domainObjectAuthorizationCheck"
		class="edu.duke.cabig.c3pr.security.authorization.C3PRObjectPrivilegeCSMAuthorizationCheck">
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
		<property name="objectIdGenerator"
			ref="domainObjectPrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator"
			ref="domainObjectPrivilegeAndObjectIdGenerator" />
	</bean>
	
	<bean id="studySubjectAuthorizationCheck"
		class="edu.duke.cabig.c3pr.accesscontrol.StudySubjectAuthorizationCheck" />
	
	<bean id="subjectAuthorizationCheck"
		class="edu.duke.cabig.c3pr.accesscontrol.SubjectAuthorizationCheck">
		<property name="objectIdGenerator" ref="sitePrivilegeAndObjectIdGenerator" />
		<property name="privilegeGenerator" ref="sitePrivilegeAndObjectIdGenerator" />
		<property name="authorizationSwitch" ref="authorizationSwitch"/>
	</bean>
	
	<bean id="studyOrganizationTabAuthorizationCheck"
		class="edu.duke.cabig.c3pr.web.security.StudyOrganizationTabAuthorizationCheck">
		<property name="csmAuthorizationCheck" ref="siteAuthorizationCheck"/>
		<property name="tabBasedPrivilegeMap" ref="studyTabPrivilgeMap" />
		<property name="tabBasedScopeMap" ref="studyTabScopeMap" />
	</bean>
	
	<util:map id="studyTabPrivilgeMap">
		<!-- START Core Study Tabs -->	
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyAmendmentTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Details:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyDetailsTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Details:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyConsentTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Details:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyDesignTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Supplemental:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyEligibilityChecklistTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Supplemental:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyStratificationTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Supplemental:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyRandomizationTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Supplemental:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyDiseasesTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Supplemental:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.CompanionStudyTab" value="edu.duke.cabig.c3pr.domain.Study.Definition.Supplemental:CREATE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyOverviewTab" value="edu.duke.cabig.c3pr.domain.Study:READ" />
		
		<!-- START Manage Study Tabs -->
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudySitesTab" value="edu.duke.cabig.c3pr.domain.StudySite:READ" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyIdentifiersTab" value="edu.duke.cabig.c3pr.domain.Study:OVERRIDE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyInvestigatorsTab" value="edu.duke.cabig.c3pr.domain.StudyPersonnel:READ" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyPersonnelTab" value="edu.duke.cabig.c3pr.domain.StudyPersonnel:READ" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyNotificationTab" value="edu.duke.cabig.c3pr.domain.Study:OVERRIDE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyRegistrationsTab" value="edu.duke.cabig.c3pr.domain.Study:OVERRIDE" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyViewAmendmentsTab" value="edu.duke.cabig.c3pr.domain.Study:OVERRIDE" />
	</util:map>
	
	<util:map id="studyTabScopeMap">
		<!-- START Core Study Tabs -->	
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyAmendmentTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyDetailsTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyConsentTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyDesignTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyEligibilityChecklistTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyStratificationTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyRandomizationTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyDiseasesTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.CompanionStudyTab" value="COCENTER_SCOPED_AUTHRORIZATION_CHECK" />
		
		<!-- START Manage Study Tabs -->
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudySitesTab" value="STUDYSITE_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyIdentifiersTab" value="STUDYSITE_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyInvestigatorsTab" value="STUDYSITE_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyPersonnelTab" value="STUDYSITE_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyNotificationTab" value="STUDYSITE_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyRegistrationsTab" value="STUDYSITE_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyViewAmendmentsTab" value="STUDYSITE_SCOPED_AUTHRORIZATION_CHECK" />
		<entry key="edu.duke.cabig.c3pr.web.study.tabs.StudyOverviewTab" value="STUDYORGANIZATION_SCOPED_AUTHRORIZATION_CHECK" />
	</util:map>
</beans>
