<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <util:map id="taskObjectPrivilegeMap">
        <entry key="/pages/registration/searchRegistration" value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/registration/createRegistration" value="edu.duke.cabig.c3pr.domain.Registration:CREATE"/>
        <entry key="/pages/registration/registrationDetails" value="edu.duke.cabig.c3pr.domain.Registration:READ"/>

        <entry key="/pages/study/searchStudy" value="edu.duke.cabig.c3pr.domain.Study:READ"/>
        <entry key="/pages/study/editStudy" value="edu.duke.cabig.c3pr.domain.Study:UPDATE"/>
        <entry key="/pages/study/createStudy" value="edu.duke.cabig.c3pr.domain.Study:CREATE"/>

        <entry key="/pages/participant/searchParticipant" value="edu.duke.cabig.c3pr.domain.Participant:READ"/>
        <entry key="/pages/participant/createParticipant" value="edu.duke.cabig.c3pr.domain.Participant:CREATE"/>
        <entry key="/pages/participant/confirmCreateParticipant" value="edu.duke.cabig.c3pr.domain.Participant:CREATE"/>

        <entry key="/pages/admin/searchInvestigator" value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>
        <entry key="/pages/admin/createInvestigator" value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>
        <entry key="/pages/admin/searchResearchStaff" value="edu.duke.cabig.c3pr.domain.ResearchStaff:CREATE"/>
        <entry key="/pages/admin/createResearchStaff" value="edu.duke.cabig.c3pr.domain.ResearchStaff:CREATE"/>
        <entry key="/pages/admin/createOrganization" value="edu.duke.cabig.c3pr.domain.HealthcareSite:CREATE"/>
        <entry key="/pages/admin/searchOrganization" value="edu.duke.cabig.c3pr.domain.HealthcareSite:READ"/>
        <entry key="/pages/admin/importStudy" value="edu.duke.cabig.c3pr.domain.Study:CREATE"/>
        <entry key="/pages/admin/importRegistration" value="edu.duke.cabig.c3pr.domain.Registration:CREATE"/>

        <entry key="/pages/report/createReport" value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/report/createStudyReport" value="edu.duke.cabig.c3pr.domain.Study:READ"/>
    </util:map>

    <bean id="taskPrivilegeAndObjectIdGenerator"
          class="edu.duke.cabig.c3pr.web.security.TaskPrivilegeAndObjectIdGenerator">
        <property name="objectPrivilegeMap"
                  ref="taskObjectPrivilegeMap"/>
    </bean>

    <bean id="taskAuthorizationCheck"
          class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
        <property name="authorizationSwitch" ref="authorizationSwitch"/>
        <property name="csmAuthorizationCheck" ref="csmGroupAuthorizationCheck"/>
        <property name="objectIdGenerator"
                  ref="taskPrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator" ref="taskPrivilegeAndObjectIdGenerator"/>
    </bean>

    <util:map id="sectionObjectPrivilegeMap">
        <entry key="/pages/registration/searchRegistration" value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/registration/registrationDetails" value="edu.duke.cabig.c3pr.domain.Registration:READ"/>

        <entry key="/pages/study/searchStudy" value="edu.duke.cabig.c3pr.domain.Study:READ"/>
        <entry key="/pages/participant/searchParticipant" value="edu.duke.cabig.c3pr.domain.Participant:READ"/>
        <entry key="/pages/participant/confirmCreateParticipant" value="edu.duke.cabig.c3pr.domain.Participant:CREATE"/>

        <entry key="/pages/admin/searchInvestigator" value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>
        <entry key="/pages/report/createReport" value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/report/createStudyReport" value="edu.duke.cabig.c3pr.domain.Study:READ"/>
    </util:map>


    <bean id="sectionPrivilegeAndObjectIdGenerator"
          class="edu.duke.cabig.c3pr.web.security.SectionPrivilegeAndObjectIdGenerator">
        <property name="objectPrivilegeMap"
                  ref="sectionObjectPrivilegeMap"/>
    </bean>

    <bean id="sectionAuthorizationCheck"
          class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
        <property name="authorizationSwitch" ref="authorizationSwitch"/>
        <property name="csmAuthorizationCheck" ref="csmGroupAuthorizationCheck">
        </property>
        <property name="objectIdGenerator"
                  ref="sectionPrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator" ref="sectionPrivilegeAndObjectIdGenerator">

        </property>
    </bean>

    <bean id="siteAuthorizationCheck"
          class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
        <property name="authorizationSwitch" ref="authorizationSwitch"/>
        <property name="csmAuthorizationCheck" ref="csmGroupAuthorizationCheck"/>
        <property name="objectIdGenerator"
                  ref="sitePrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator"
                  ref="sitePrivilegeAndObjectIdGenerator"/>
    </bean>

</beans>