<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright Duke Comprehensive Cancer Center and SemanticBits
 
 Distributed under the OSI-approved BSD 3-Clause License.
 See http://ncip.github.com/c3pr/LICENSE.txt for details.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-config.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-configProperties.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-core-db.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-core.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-csm.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-esb.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-scheduler-quartz.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/rules/config/spring/applicationContext-rules-services.xml"/>
	<import resource="classpath:edu/duke/cabig/c3pr/applicationContext-core-security.xml"/>
	<!-- <import resource="/Users/kruttikagarwal/Documents/workspace/c3pr/codebase/projects/core/src/resources/edu/duke/cabig/c3pr/applicationContext*.xml"/>-->
	
	<bean id="gridStudyService" class="edu.duke.cabig.c3pr.grid.studyservice.service.impl.C3PRStudyServiceImpl">
		<property name="xmlMarshaller" ref="studyXmlUtility"/>
		<property name="interceptor" ref="openSessionInViewInterceptor"/>
		<property name="studyRepository" ref="studyRepository"/>
		<property name="studyFactory" ref="studyFactory"/>
		<property name="studySiteDao" ref="studySiteDao"/>
		<property name="studyDao" ref="studyDao"/>
	</bean>
	
	<bean id="studyAuthorization" class="edu.duke.cabig.c3pr.grid.studyservice.service.impl.StudyServiceAuthorizationImpl">
		<property name="gridSecurityUtils" ref="gridSecurityUtils"/>
	</bean>
</beans>
