<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <bean id="filterChainProxy"
          class="org.acegisecurity.util.FilterChainProxy">
        <property name="filterInvocationDefinitionSource">

            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
                /**=channelProcessingFilter,httpSessionContextIntegrationFilter,${authenticationMode}LogoutFilter,${authenticationMode}ProcessingFilter,securityContextHolderAwareRequestFilter,exceptionTranslationFilter,filterInvocationInterceptor
            </value>

        </property>
    </bean>

    <bean id="channelProcessingFilter"
          class="org.acegisecurity.securechannel.ChannelProcessingFilter">
        <property name="channelDecisionManager">
            <ref local="channelDecisionManager"/>
        </property>
        <property name="filterInvocationDefinitionSource">
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                \A./pages/*\Z=REQUIRES_SECURE_CHANNEL
            </value>
        </property>
    </bean>

    <bean id="channelDecisionManager"
          class="org.acegisecurity.securechannel.ChannelDecisionManagerImpl">
        <property name="channelProcessors">
            <list>
                <ref local="secureChannelProcessor"/>
                <ref local="insecureChannelProcessor"/>
            </list>
        </property>
    </bean>

    <bean id="secureChannelProcessor"
          class="org.acegisecurity.securechannel.SecureChannelProcessor"/>
    <bean id="insecureChannelProcessor"
          class="org.acegisecurity.securechannel.InsecureChannelProcessor"/>

    <!--cas configuration-->
    <bean id="webSSOProcessingFilter" class="org.acegisecurity.ui.cas.CasProcessingFilter">
        <property name="authenticationManager">
            <ref bean="authenticationManager"/>
        </property>
        <property name="authenticationFailureUrl">
            <value>/decorated-error.jsp</value>
        </property>
        <property name="defaultTargetUrl">
            <value>/</value>
        </property>
        <property name="filterProcessesUrl">
            <value>/j_acegi_cas_security_check</value>
        </property>
    </bean>

    <bean id="webSSOProcessingFilterEntryPoint" class="org.acegisecurity.ui.cas.CasProcessingFilterEntryPoint">
        <property name="loginUrl" value="${ccts.websso.base_url}"/>
        <property name="serviceProperties">
            <ref bean="serviceProperties"/>
        </property>
    </bean>

     <bean id="webSSOLogoutFilter"
          class="org.acegisecurity.ui.logout.LogoutFilter">
        <constructor-arg value="${ccts.websso.base_url}/logout"/>
        <constructor-arg>
            <list>
                  <ref local="securityContextLogoutHandler"/>
            </list>
        </constructor-arg>
    </bean>

     <bean id="securityContextLogoutHandler"
                        class="org.acegisecurity.ui.logout.SecurityContextLogoutHandler"/>

    <bean id="httpSessionContextIntegrationFilter"
          class="org.acegisecurity.context.HttpSessionContextIntegrationFilter"/>

    <bean id="localLogoutFilter"
          class="org.acegisecurity.ui.logout.LogoutFilter">
        <constructor-arg value="/index.jsp"/>
        <constructor-arg>
            <list>
                <ref local="securityContextLogoutHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="localProcessingFilter"
          class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">
        <property name="authenticationManager"
                  ref="authenticationManager"/>
        <property name="authenticationFailureUrl" value="/public/login?login_error=1"/>
        <property name="defaultTargetUrl" value="/"/>
        <property name="filterProcessesUrl"
                  value="/j_acegi_security_check"/>
    </bean>

    <bean id="localProcessingFilterEntryPoint"
          class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
        <property name="loginFormUrl" value="/public/login"/>
        <property name="forceHttps" value="false"/>
    </bean>


    <bean id="securityContextHolderAwareRequestFilter"
          class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter"/>

    <bean id="anonymousProcessingFilter"
          class="org.acegisecurity.providers.anonymous.AnonymousProcessingFilter">
        <property name="key" value="anonymousAuthKey"/>
        <property name="userAttribute"
                  value="anonymousUser,ROLE_ANONYMOUS"/>
    </bean>

    <bean id="exceptionTranslationFilter"
          class="org.acegisecurity.ui.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint"
                  ref="${authenticationMode}ProcessingFilterEntryPoint"/>
        <property name="accessDeniedHandler">
            <bean
                    class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
                <property name="errorPage" value="/accessDenied.jsp"/>
            </bean>
        </property>
    </bean>

    <util:map id="urlObjectPrivilegeMap">
        <entry key="/pages/skin" value="edu.duke.cabig.c3pr.domain.Investigator:CREATE" />
    </util:map>

    <util:map id="filterObjectPrivilegeMap"
              map-class="java.util.LinkedHashMap">
        <entry key="/pages/skin" value="edu.duke.cabig.c3pr.domain.Investigator:CREATE" />
        
        <!-- TODO: set up correct default -->
        <entry key="/pages/participant/create.*"
               value="edu.duke.cabig.c3pr.domain.Participant:CREATE"/>
        <entry key="/pages/participant/edit.*"
               value="edu.duke.cabig.c3pr.domain.Participant:UPDATE"/>
        <entry key="/pages/participant/view.*"
               value="edu.duke.cabig.c3pr.domain.Participant:READ"/>
        <entry key="/pages/participant/search.*"
               value="edu.duke.cabig.c3pr.domain.Participant:READ"/>
        <entry key="/pages/participant/confirm.*"
               value="edu.duke.cabig.c3pr.domain.Participant:CREATE"/>

        <entry key="/pages/study/create.*"
               value="edu.duke.cabig.c3pr.domain.Study:CREATE"/>
        <entry key="/pages/study/confirm.*"
               value="edu.duke.cabig.c3pr.domain.Study:CREATE"/>
        <entry key="/pages/study/edit.*"
               value="edu.duke.cabig.c3pr.domain.Study:UPDATE"/>
        <entry key="/pages/study/search.*"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>
        <entry key="/pages/study/view.*"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>
        <entry key="/pages/study/amend.*"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>

        <entry key="/pages/registration/create.*"
               value="edu.duke.cabig.c3pr.domain.Registration:CREATE"/>
        <entry key="/pages/registration/confirm.*"
               value="edu.duke.cabig.c3pr.domain.Registration:CREATE"/>
        <entry key="/pages/registration/edit.*"
               value="edu.duke.cabig.c3pr.domain.Registration:UPDATE"/>
        <entry key="/pages/registration/search.*"
               value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/registration/registrationDetails.*"
               value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/registration/overview.*"
               value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/registration/manageRegistration.*"
               value="edu.duke.cabig.c3pr.domain.Registration:UPDATE"/>

		<entry key="/pages/admin/getGroup.*"
               value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>
        <entry key="/pages/admin/searchInvestigator.*"
               value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>
        <entry key="/pages/admin/createInvestigator.*"
               value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>
        <entry key="/pages/admin/searchResearchStaff.*"
               value="edu.duke.cabig.c3pr.domain.ResearchStaff:CREATE"/>
        <entry key="/pages/admin/createResearchStaff.*"
               value="edu.duke.cabig.c3pr.domain.ResearchStaff:CREATE"/>
        <entry key="/pages/admin/createOrganization.*"
               value="edu.duke.cabig.c3pr.domain.HealthcareSite:CREATE"/>
        <entry key="/pages/admin/searchOrganization"
               value="edu.duke.cabig.c3pr.domain.HealthcareSite:READ"/>
        <entry key="/pages/admin/importStudy.*"
               value="edu.duke.cabig.c3pr.domain.Study:CREATE"/>
        <entry key="/pages/admin/download.*"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>

        <entry key="/pages/admin/importRegistration.*"
               value="edu.duke.cabig.c3pr.domain.Registration:CREATE"/>
        <entry key="/pages/admin/configure.*"
               value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>
        <entry key="/pages/admin/password_policy_configure.*"
               value="edu.duke.cabig.c3pr.domain.Investigator:CREATE"/>


        <entry key="/pages/report/createReport.*"
               value="edu.duke.cabig.c3pr.domain.Registration:READ"/>
        <entry key="/pages/report/createStudyReport.*"
               value="edu.duke.cabig.c3pr.domain.Study:READ"/>

    </util:map>


    <bean id="filterPrivilegeAndObjectIdGenerator"
          class="edu.duke.cabig.c3pr.web.security.FilterInvocationPrivilegeAndObjectIdGenerator">
        <property name="objectPrivilegeMap"
                  ref="filterObjectPrivilegeMap"/>
    </bean>

    <bean id="urlPrivilegeAndObjectIdGenerator" class="edu.duke.cabig.c3pr.web.security.UrlPrivilegeAndObjectIdGenerator">
        <property name="objectPrivilegeMap" ref="urlObjectPrivilegeMap"/>
    </bean>

    <bean id="urlAuthorizationCheck" autowire="byType" class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
        <property name="csmAuthorizationCheck">
            <bean class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
                <property name="csmUserProvisioningManager" ref="csmUserProvisioningManager"/>
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
            </bean>
        </property>
        <property name="objectIdGenerator" ref="urlPrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator" ref="urlPrivilegeAndObjectIdGenerator"/>
    </bean>

    <bean id="filterAuthorizationCheck" autowire="byType"
          class="gov.nih.nci.security.acegi.csm.authorization.DelegatingObjectPrivilegeCSMAuthorizationCheck">
        <property name="csmAuthorizationCheck">
            <bean
                    class="gov.nih.nci.security.acegi.csm.authorization.CSMGroupAuthorizationCheck">
                <property name="csmUserProvisioningManager"
                          ref="csmUserProvisioningManager"/>
                <property name="authorizationSwitch" ref="authorizationSwitch"/>
            </bean>
        </property>
        <property name="objectIdGenerator"
                  ref="filterPrivilegeAndObjectIdGenerator"/>
        <property name="privilegeGenerator"
                  ref="filterPrivilegeAndObjectIdGenerator"/>
    </bean>


    <bean id="filterInvocationInterceptor"
          class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
        <property name="authenticationManager"
                  ref="authenticationManager"/>
        <property name="accessDecisionManager">
            <bean class="org.acegisecurity.vote.AffirmativeBased">
                <property name="allowIfAllAbstainDecisions" value="false"/>
                <property name="decisionVoters">
                    <list>
                        <bean class="gov.nih.nci.security.acegi.csm.vote.AuthorizationSwitchVoter">
                            <property name="authorizationSwitch" ref="authorizationSwitch"/>
                        </bean>
                        <bean class="gov.nih.nci.security.acegi.csm.vote.CSMAuthorizationCheckVoter">
                            <property name="processConfigAttribute" value="CSM_FILTER_CHECK"/>
                            <property name="authorizationCheck" ref="filterAuthorizationCheck"/>
                        </bean>
                        <bean class="org.acegisecurity.vote.AuthenticatedVoter" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="objectDefinitionSource">
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                /pages/dashboard=IS_AUTHENTICATED_REMEMBERED
                \A/pages/.*\Z=CSM_FILTER_CHECK
               </value>

        </property>
    </bean>

</beans>