<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<import resource="classpath*:edu/duke/cabig/c3pr/applicationContext-config.xml"/>
	<import resource="classpath*:edu/duke/cabig/c3pr/applicationContext-core.xml"/>
	<import resource="classpath*:edu/duke/cabig/c3pr/applicationContext-core-db.xml"/>
	<import resource="classpath*:edu/duke/cabig/c3pr/applicationContext-csm.xml"/>		

    <bean id="registrationConsumer" class="gov.nih.nci.cabig.c3pr.grid.EchoRegistrationConsumer" autowire="byName">
	    <property name="marshaller">
            <bean id="registrationXmlUtility1" class="edu.duke.cabig.c3pr.xml.XmlMarshaller">
                <property name="mappingFile" value="ccts-registration-castor-mapping.xml"/>
            </bean>
        </property>
   </bean>
</beans>