<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <import resource="context/applicationContext-core.xml"/>


    <bean id="registrationConsumer" class="gov.nih.nci.cabig.ctms.service.CRPRV2RegistrationConsumer">
        <property name="studyService">
            <ref bean="studyService" />
        </property>
    </bean>
    
</beans>