/* BEGIN omnipotent-button type="anchor" core CSS */
a.omnipotent-button {
	height: 31px;
	padding:0 8px;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:19px;
	color:white;
	text-decoration:none;
	line-height:30px;
	margin:0 2px;
	display:inline-block;
	cursor:default;
}
a.omnipotent-button .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:31px;
	position:absolute;
	right:2px;
	top:3px;
	width:3px;
}
a.omnipotent-button img {
	vertical-align:text-top;
}
/* a.omnipotent-button:hover {
	color:#2f2f2f;
}
a.omnipotent-button:active {
	color:white;
} */
a.omnipotent-button .right, x:-moz-any-link {
	right:0px;
	top:4px;
}
a.omnipotent-button .right, x:-moz-any-link, x:default {
	right:0px;
	top:0px;
}

/* END omnipotent-button type="anchor" core CSS */

/* BEGIN omnipotent-button type="anchor" color="red" */
a.omnipotent-button.red {
	background-position:0 0;
}
a.omnipotent-button.red .right {
	background-position:-547px 0;
}
/* END omnipotent-button type="anchor" color="red" */

/* BEGIN omnipotent-button type="anchor" color="green" */
a.omnipotent-button.green {
	background-position:0 -93px;
}
a.omnipotent-button.green .right {
	background-position:-547px -93px;
}
/* END omnipotent-button type="anchor" color="green" */

/* BEGIN omnipotent-button type="anchor" color="blue" */
a.omnipotent-button.blue {
	background-position:0 -186px;
}
a.omnipotent-button.blue .right {
	background-position:-547px -186px;
}
/* END omnipotent-button type="anchor" color="blue" */

/* BEGIN omnipotent-button type="anchor" color="orange" */
a.omnipotent-button.orange {
	background-position:0 -279px;
}
a.omnipotent-button.orange .right {
	background-position:-547px -279px;
}
/* END omnipotent-button type="anchor" color="orange" */

/* Begin omnipotent-button type="anchor" size="small" core CSS*/
a.omnipotent-button.small {
	height: 20px;
	padding:3px 5px;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:11px;
	color:white;
	text-decoration:none;
	vertical-align:middle;
	line-height:20px;
	display:inline;
}
a.omnipotent-button.small.no-icon {
	padding:3px 5px 4px;
}

a.omnipotent-button.small .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:20px;
	position:absolute;
	right:0px;
	top:0px;
	width:3px;
}
a.omnipotent-button.small .right, x:-moz-any-link {
	right:-3px;
}
a.omnipotent-button.small .right, x:-moz-any-link, x:default {
	right:0px;
}
/* END omnipotent-button type="anchor" size="small" core CSS*/

/* BEGIN omnipotent-button type="anchor" size="small" color="red" */
a.omnipotent-button.small.red {
	background-position:0 0;
}
a.omnipotent-button.small.red .right {
	background-position:-547px 0;
}
/* END omnipotent-button type="anchor" size="small" color="red" */

/* BEGIN omnipotent-button type="anchor" size="small" color="green" */
a.omnipotent-button.small.green {
	background-position:0 -60px;
}
a.omnipotent-button.small.green .right {
	background-position:-547px -60px;
}
/* END omnipotent-button type="anchor" size="small" color="green" */

/* BEGIN omnipotent-button type="anchor" size="small" color="blue" */
a.omnipotent-button.small.blue {
	background-position:0 -120px;
}
a.omnipotent-button.small.blue .right {
	background-position:-547px -120px;
}
/* END omnipotent-button type="anchor" size="small" color="blue" */

/* BEGIN omnipotent-button type="anchor" size="small" color="orange" */
a.omnipotent-button.small.orange {
	background-position:0 -180px;
}
a.omnipotent-button.small.orange .right {
	background-position:-547px -180px;
}
/* END omnipotent-button type="anchor" size="small" color="orange" */

/* #--------------------------------------------------------------------------

/* Begin omnipotent-button type="button" core CSS*/
button.omnipotent-button {
	height: 31px;
	padding:3px 6px;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:19px;
	color:white;
	text-decoration:none;
} 
button.omnipotent-button.red[disabled],
button.omnipotent-button.red[disabled]:hover,
button.omnipotent-button.red[disabled]:active,
button.omnipotent-button.green[disabled],
button.omnipotent-button.green[disabled]:hover,
button.omnipotent-button.green[disabled]:active,
button.omnipotent-button.blue[disabled],
button.omnipotent-button.blue[disabled]:hover,
button.omnipotent-button.blue[disabled]:active,
button.omnipotent-button.orange[disabled],
button.omnipotent-button.orange[disabled]:hover,
button.omnipotent-button.orange[disabled]:active {
	background-position:0 -372px;
}
button.omnipotent-button.red[disabled] .right,
button.omnipotent-button.red[disabled]:hover .right,
button.omnipotent-button.red[disabled]:active .right,
button.omnipotent-button.green[disabled] .right,
button.omnipotent-button.green[disabled]:hover .right,
button.omnipotent-button.green[disabled]:active .right,
button.omnipotent-button.blue[disabled] .right,
button.omnipotent-button.blue[disabled]:hover .right,
button.omnipotent-button.blue[disabled]:active .right,
button.omnipotent-button.orange[disabled] .right,
button.omnipotent-button.orange[disabled]:hover .right,
button.omnipotent-button.orange[disabled]:active .right {
	background-position:-547px -372px;
}

button.omnipotent-button[disabled] img {
	opacity:0.4;
 	filter:alpha(opacity=40);
}
button.omnipotent-button.no-icon {
	padding:3px 6px 4px;
}
button.omnipotent-button .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:31px;
	position:absolute;
	right:9px;
	top:-4px;
	width:3px;
}
button.omnipotent-button .right, x:-moz-any-link {
	right:-9px;
}
button.omnipotent-button .right, x:-moz-any-link, x:default {
	right:9px;
	top:-5px;
}
button.omnipotent-button img {
	vertical-align:top;
}
/*
button.omnipotent-button:hover, button.omnipotent-button.hover {
	 color:#2f2f2f;
} 
button.omnipotent-button:active, button.omnipotent-button.active {
	color:white;
} 
/* END omnipotent-button type="button" core CSS*/

/* BEGIN omnipotent-button type="button" color="red" */
button.omnipotent-button.red {
	background-position:0 0;
}
button.omnipotent-button.red .right{
	background-position:-547px 0;
}
/* END omnipotent-button type="button" color="red" */

/* BEGIN omnipotent-button type="button" color="green" */
button.omnipotent-button.green {
	background-position:0 -93px;
}
button.omnipotent-button.green .right {
	background-position:-547px -93px;
}
/* END omnipotent-button type="button" color="green" */

/* BEGIN omnipotent-button type="button" color="blue" */
button.omnipotent-button.blue {
	background-position:0 -186px;
}
button.omnipotent-button.blue .right {
	background-position:-547px -186px;
}
/* END omnipotent-button type="button" color="blue" */
	
/* BEGIN omnipotent-button type="button" color="orange" */
button.omnipotent-button.orange {
	background-position:0 -279px;
}
button.omnipotent-button.orange .right {
	background-position:-547px -279px;
}
/* END omnipotent-button type="button" color="orange" */

/* Begin omnipotent-button type="button" size="small" core CSS*/
button.omnipotent-button.small {
	height: 20px;
	padding:1px 5px;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:11px;
	color:white;
	text-decoration:none;
	vertical-align:middle;
}
button.omnipotent-button.small.no-icon {
	padding:1px 5px 4px;
}

button.omnipotent-button.small .right {
	background-color:white;
	background-image:url(../images/buttons/buttons-small-bg-sprite.png);
	background-repeat:no-repeat;
	display:block;
	height:20px;
	position:absolute;
	right:8px;
	top:-3px;
	width:3px;
}
button.omnipotent-button.small .right, x:-moz-any-link {
	right:-8px;
}
button.omnipotent-button.small .right, x:-moz-any-link, x:default {
	right:8px;
}
button.omnipotent-button.small.red[disabled],
button.omnipotent-button.small.red[disabled]:hover,
button.omnipotent-button.small.red[disabled]:active,
button.omnipotent-button.small.green[disabled],
button.omnipotent-button.small.green[disabled]:hover,
button.omnipotent-button.small.green[disabled]:active,
button.omnipotent-button.small.blue[disabled],
button.omnipotent-button.small.blue[disabled]:hover,
button.omnipotent-button.small.blue[disabled]:active,
button.omnipotent-button.small.orange[disabled],
button.omnipotent-button.small.orange[disabled]:hover,
button.omnipotent-button.small.orange[disabled]:active {
	background-position:0 -240px;
}
button.omnipotent-button.small.red[disabled] .right,
button.omnipotent-button.small.red[disabled]:hover .right,
button.omnipotent-button.small.red[disabled]:active .right,
button.omnipotent-button.small.green[disabled] .right,
button.omnipotent-button.small.green[disabled]:hover .right,
button.omnipotent-button.small.green[disabled]:active .right,
button.omnipotent-button.small.blue[disabled] .right,
button.omnipotent-button.small.blue[disabled]:hover .right,
button.omnipotent-button.small.blue[disabled]:active .right,
button.omnipotent-button.small.orange[disabled] .right,
button.omnipotent-button.small.orange[disabled]:hover .right,
button.omnipotent-button.small.orange[disabled]:active .right {
	background-position:-547px -240px;
}

/* END omnipotent-button type="button" size="small" core CSS*/

/* BEGIN omnipotent-button type="button" size="small" color="red" */
button.omnipotent-button.small.red {
	background-position:0 0;
}
button.omnipotent-button.small.red .right {
	background-position:-547px 0;
}
/* END omnipotent-button type="button" size="small" color="red" */

/* BEGIN omnipotent-button type="button" size="small" color="green" */
button.omnipotent-button.small.green {
	background-position:0 -60px;
}
button.omnipotent-button.small.green .right {
	background-position:-547px -60px;
}
/* END omnipotent-button type="button" size="small" color="green" */

/* BEGIN omnipotent-button type="button" size="small" color="blue" */
button.omnipotent-button.small.blue {
	background-position:0 -120px;
}
button.omnipotent-button.small.blue .right {
	background-position:-547px -120px;
}
/* END omnipotent-button type="button" size="small" color="blue" */

/* BEGIN omnipotent-button type="button" size="small" color="orange" */
button.omnipotent-button.small.orange {
	background-position:0 -180px;
}
button.omnipotent-button.small.orange .right {
	background-position:-547px -180px;
}
/* END omnipotent-button type="button" size="small" color="orange" */