<style>
input.autocomplete{
    font-style: normal;
    background-color: #CCE6FF;
}
input.pending-search {
    color: gray;
    font-style: italic;
    background-color: #CCE6FF;
}

</style>