<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    
    
	<tx:annotation-driven proxy-target-class="true" />
<!-- 
	<bean id="rulesPropertyConfigurer"
		class="gov.nih.nci.cabig.ctms.tools.spring.PropertyPlaceholderConfigurer">
		<property name="properties">
			<bean
				class="edu.duke.cabig.c3pr.tools.C3prDataSourcePropertiesFactoryBean">
				<property name="databaseConfigurationName">
					<value>@databaseConfigurationName@</value>
				</property>
			</bean>
		</property>

		<property name="placeholderPrefix">
			<value>s[</value>
		</property>
		<property name="placeholderSuffix">
			<value>]</value>
		</property>
		<property name="useNullForUnresolvablePlaceholders">
			<value>true</value>
		</property>
	</bean>
	 -->
	<!--  This bean will clear off the files in rules workspace -->
	<bean id="repositoryCleaner" class="edu.duke.cabig.c3pr.rules.repository.RepositoryCleaner"  >
		<constructor-arg ref="c3prPropertyConfigurerFromFile[rules.repository]"  />
	</bean>

	<bean id="jcrSessionFactory"
		class="org.springmodules.jcr.JcrSessionFactory" autowire="byName">
		<property name="repository" ref="repository" />
	</bean>


	<!-- configuring a 'transient' repository (automatically starts when a session is opened 
		and shutdowns when all sessions are closed) -->
    <bean id="c3prPropertyConfigurerFromFile"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
            	<value>classpath:context/c3pr.properties</value>
            	<value>classpath:context/datasource.properties</value>
            	<value>file:@catalina.home@/conf/c3pr/c3pr.properties</value>
            	<value>file:@catalina.home@/conf/c3pr/datasource.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>    
    
	<bean name="c3prPropertyConfigurerFromFile[rules.repository]"
          class="edu.duke.cabig.c3pr.tools.PropertiesGetterFactoryBean"/>     

	<bean id="repository"
		class="org.springmodules.jcr.jackrabbit.TransientRepositoryFactoryBean" depends-on="repositoryCleaner">
		<property name="configuration" value="classpath:edu/duke/cabig/c3pr/rules/jackrabbit-repo-postgres.xml"/>		    
		<property name="homeDir" ref="c3prPropertyConfigurerFromFile[rules.repository]" />
	</bean>


	<bean id="transactionManager"
		class="org.springmodules.jcr.jackrabbit.LocalTransactionManager"
		autowire="byType">
		<property name="sessionFactory" ref="jcrSessionFactory" />
	</bean>

	<bean id="jcrTransactionManager"
		class="org.springmodules.jcr.jackrabbit.LocalTransactionManager"
		autowire="byType">
		<property name="sessionFactory" ref="jcrSessionFactory" />
	</bean>


	<!-- transaction proxy for Jcr services/facades -->

	<bean id="txProxyTemplate" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		autowire-candidate="false">
		<property name="proxyTargetClass" value="true" />
		<property name="transactionManager" ref="jcrTransactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED, readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="jcrTemplate" class="org.springmodules.jcr.JcrTemplate"
		autowire="byType">
		<property name="sessionFactory" ref="jcrSessionFactory" />
		<property name="allowCreate" value="true" />
	</bean>


	<bean id="jcrService"
		class="edu.duke.cabig.c3pr.rules.repository.RepositoryServiceImpl"
		autowire="byType">
		<property name="template" ref="jcrTemplate" />
	</bean>
	

</beans>