<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="dataSourceTemplate" abstract="true"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${datasource.driver}"/>
		<property name="maxActive" value="5"/>
		<property name="maxIdle" value="2"/>
		<property name="maxWait" value="180000"/>		
		<property name="removeAbandoned" value="true"/>		
		<property name="removeAbandonedTimeout" value="300"/>		
		<property name="logAbandoned" value="true"/>
		<property name="testWhileIdle" value="true"/>
		<property name="testOnReturn" value="true"/>
		<property name="timeBetweenEvictionRunsMillis" value="300000"/>
		<property name="minEvictableIdleTimeMillis" value="600000"/>			
	</bean>
	<bean id="dataSource" parent="dataSourceTemplate">
		<property name="url" value="${datasource.url}"/>			
		<property name="username" value="${datasource.username}"/>			
		<property name="password" value="${datasource.password}"/>			
	</bean>
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.connection.pool_size">10</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">
					${datasource.dialect}
				</prop>
				<prop key="hibernate.query.substitutions">
					true 1, false 0, yes 'Y', no 'N'
				</prop>
				<prop key="hibernate.jdbc.batch_size">30</prop>
			</props>
		</property>
	</bean>
	
	<bean id="corePropertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="location" value="classpath:context/core.properties"/>
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="namingStrategy">
			<bean class="org.hibernate.cfg.ImprovedNamingStrategy" />
		</property>
		<!-- Must reference all OR mapping files. -->
		<property name="annotatedClasses">
			<list>
				<value>edu.duke.cabig.c3pr.domain.Study</value>
				<value>edu.duke.cabig.c3pr.domain.Epoch</value>
				<value>edu.duke.cabig.c3pr.domain.Arm</value>
				<value>edu.duke.cabig.c3pr.domain.StudySite</value>
				<value>edu.duke.cabig.c3pr.domain.HealthcareSite</value>
				<value>edu.duke.cabig.c3pr.domain.Organization</value>
				<value>edu.duke.cabig.c3pr.domain.Address</value>
				<value>edu.duke.cabig.c3pr.domain.StudyParticipantAssignment</value>
				<value>edu.duke.cabig.c3pr.domain.StudyInvestigator</value>
				<value>edu.duke.cabig.c3pr.domain.HealthcareSiteInvestigator</value>
				<value>edu.duke.cabig.c3pr.domain.StudyPersonnel</value>			
				<value>edu.duke.cabig.c3pr.domain.Participant</value>
				<value>edu.duke.cabig.c3pr.domain.ResearchStaff</value>
				<value>edu.duke.cabig.c3pr.domain.Investigator</value>
				<value>edu.duke.cabig.c3pr.domain.ScheduledArm</value>
				<value>edu.duke.cabig.c3pr.domain.Identifier</value>
				<value>edu.duke.cabig.c3pr.domain.EligibilityCriteria</value>
				<value>edu.duke.cabig.c3pr.domain.SubjectEligibilityAnswer</value>							
				<value>edu.duke.cabig.c3pr.domain.InclusionEligibilityCriteria</value>							
				<value>edu.duke.cabig.c3pr.domain.ExclusionEligibilityCriteria</value>															
			</list>
		</property>
		<property name="entityInterceptor">
			<bean
				class="edu.duke.cabig.c3pr.utils.GridIdentifierInterceptor"
				autowire="byName" />
		</property>
		<property name="hibernateProperties">
			<ref bean="hibernateProperties" />
		</property>
	</bean>
	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="checkWriteOperations" value="true"/>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="daoTemplate" abstract="true">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		autowire="byType" />
	<bean id="openSessionInViewInterceptor"
		class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor"
		autowire="byName">
		<property name="singleSession" value="true"/>
		<property name="flushModeName" value="FLUSH_AUTO"/>
	</bean>
	
	<bean id="gridIdentifierCreator" class="edu.duke.cabig.c3pr.utils.LocalGridIdentifierCreator" />
	
	<!--validators for domain objects   -->
	<bean id="studyValidator" class="edu.duke.cabig.c3pr.domain.validator.StudyValidator" autowire="byName" />
	<bean id="studySiteValidator" class="edu.duke.cabig.c3pr.domain.validator.StudySiteValidator" autowire="byName" />
	<bean id="epochValidator" class="edu.duke.cabig.c3pr.domain.validator.EpochValidator" autowire="byName" />
	<bean id="armValidator" class="edu.duke.cabig.c3pr.domain.validator.ArmValidator" /> 
	<bean id="identifierValidator" class="edu.duke.cabig.c3pr.domain.validator.IdentifierValidator" autowire="byName" />
	<bean id="participantValidator" class="edu.duke.cabig.c3pr.domain.validator.ParticipantValidator" autowire="byName" />
		
	<!-- Daos -->
	<bean id="studyDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudyDao" autowire="byType"/>
	<bean id="studySiteDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudySiteDao" autowire="byType"/>
	<bean id="epochDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.EpochDao" autowire="byType"/>
	<bean id="armDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.ArmDao" autowire="byType"/>
	<bean id="participantDao" parent="daoTemplate"	class="edu.duke.cabig.c3pr.dao.ParticipantDao" autowire="byType"/>
	<bean id="healthcareSiteDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.HealthcareSiteDao" autowire="byType"/>
	<bean id="registrationDao" parent="daoTemplate"	class="edu.duke.cabig.c3pr.dao.StudyParticipantAssignmentDao" autowire="byType"/>
	<bean id="healthcareSiteInvestigatorDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.HealthcareSiteInvestigatorDao" autowire="byType"/>
	<bean id="studyPersonnelDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.StudyPersonnelDao" autowire="byType"/>
	<bean id="researchStaffDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.ResearchStaffDao" autowire="byType"/>
	<bean id="investigatorDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.InvestigatorDao" autowire="byType"/>
	
	<!-- Services -->
	<bean id="studyService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.StudyServiceImpl" autowire="byType"/>
	<bean id="participantService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.ParticipantServiceImpl" autowire="byType"/>
	
    <!--Utilities-->
    <bean id="xmlUtility" class="edu.duke.cabig.c3pr.xml.XmlMarshaller">
        <property name="mappingFile" value="c3pr-castor-mapping.xml"/>
    </bean>

</beans>