<?xml version="1.0" encoding="utf-8"?>
<beans
 	xmlns="http://www.springframework.org/schema/beans"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    >
	<bean id="gridAuthenticationManager"
		class="com.semanticbits.security.grid.impl.GridAuthenticationManagerImpl">
		<property name="idpUrl">
			<value>${grid.security.idpUrl}</value>
		</property>
		<property name="ifsUrl">
			<value>${grid.security.ifsUrl}</value>
		</property>
	</bean>    
	
</beans>
