<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

   <bean id="mainPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location"><value>classpath:datasource.properties</value></property>
   </bean>
    
   <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
        
<!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource">
            <ref local="dataSource" />
        </property>
<!-- Must reference all OR mapping files. -->
        <property name="annotatedClasses">
            <list>
                <value>edu.duke.cabig.c3pr.domain.Study</value>
                <value>edu.duke.cabig.c3pr.domain.Participant</value>
                <value>edu.duke.cabig.c3pr.domain.StudySite</value>
                <value>edu.duke.cabig.c3pr.domain.Epoch</value>
                <value>edu.duke.cabig.c3pr.domain.Arm</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <ref bean="hibernateProperties" />
        </property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations">
            <value>true</value>
        </property>
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate">
            <ref local="hibernateTemplate" />
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" autowire="byType" />
<!-- Daos -->
    <bean id="studyDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.hibernate.StudyDaoHibernate" autowire="byType"></bean>
    <bean id="studySiteDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.hibernate.StudySiteDaoHibernate" autowire="byType"></bean>
    <bean id="epochDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.hibernate.EpochDaoHibernate" autowire="byType"></bean>
    <bean id="armDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.hibernate.ArmDaoHibernate" autowire="byType"></bean>
    <bean id="participantDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.hibernate.ParticipantDaoHibernate" autowire="byType"></bean>
<!-- Services -->
    <bean id="studyService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.StudyServiceImpl" autowire="byType"></bean>
    <bean id="participantService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.ParticipantServiceImpl" autowire="byType"></bean>
</beans>
