<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<!-- Datasource that works in any application server You could easily use J2EE data source 
instead if this were running inside of a J2EE container -->
    <bean id="dataSourceTemplate" abstract="true" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
            <value>oracle.jdbc.driver.OracleDriver</value>
        </property>
        <property name="maxActive">
            <value>5</value>
        </property>
        <property name="maxIdle">
            <value>2</value>
        </property>
        <property name="maxWait">
            <value>180000</value>
        </property>
        <property name="removeAbandoned">
            <value>true</value>
        </property>
        <property name="removeAbandonedTimeout">
            <value>300</value>
        </property>
        <property name="logAbandoned">
            <value>true</value>
        </property>
        <property name="testWhileIdle">
            <value>true</value>
        </property>
        <property name="testOnReturn">
            <value>true</value>
        </property>
        <property name="timeBetweenEvictionRunsMillis">
            <value>300000</value>
        </property>
        <property name="minEvictableIdleTimeMillis">
            <value>600000</value>
        </property>
    </bean>
    <bean id="dataSource" parent="dataSourceTemplate">
        <property name="url">
            <value>jdbc:oracle:thin:@localhost:1521:C3PR</value>
        </property>
        <property name="username">
            <value>scott</value>
        </property>
        <property name="password">
            <value>tiger</value>
        </property>
    </bean>
<!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref local="dataSource" />
        </property>
<!-- Must references all OR mapping files. -->
        <property name="mappingJarLocations">
	        <list>
	           <value>WEB-INF/lib/c3pr-2.0-core-1.0.jar</value>
	         </list>
	        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.pool_size">3</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
                <prop key="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</prop>
                <prop key="hibernate.jdbc.batch_size">30</prop>
            </props>
        </property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations">
            <value>true</value>
        </property>
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
    <bean id="daoTemplate" abstract="true">
        <property name="hibernateTemplate">
            <ref local="hibernateTemplate" />
        </property>
    </bean>
    <bean id="protocolDao" parent="daoTemplate" class="edu.duke.cabig.c3pr.dao.hibernate.ProtocolDaoHibernate" autowire="byType"></bean>
    <bean id="protocolService" lazy-init="true" class="edu.duke.cabig.c3pr.service.impl.ProtocolServiceImpl">
        <property name="protocolDao">
            <ref local="protocolDao" />
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager" autowire="byType" />
</beans>
