/** C H A N G E S        END */

body {
	margin:0px;
	padding: 0px;
	font-size: 10pt;
	color: #000000;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background:#333;
	text-align:center;
	background-image: url(images/body_bg.png);
	background-repeat: repeat-y;
	background-position: center;
}
#all {
	width:980px;
	margin:0px auto;
	text-align:left;
	position:relative;
	padding-right:1px;
}
.noheader-body {
	text-align:left;
	}
#skipnav {
	height:0;
	overflow:hidden;
	position:absolute;
}
a img { border:0px; }
button {
	background-color:#417691;
border:1px outset #003D73;
color:white;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
margin-left:2pt;
vertical-align:middle;
}
button img {
	vertical-align:middle;
}
/*h1 { margin: 0px 0px 12px 0px; color: #2E3257; font-weight: 600; font-size: 16px; }*/

h2 {
	margin: 0px 0px 12px 0px;
	color: #2E3257;
	font-weight: 600;
	font-size: 13px;
}
.header { background: url(../images/chrome/header_BG.gif) repeat-x top; }
.header_R { background: url(../images/chrome/header_BG_R.gif) no-repeat top right; }
.c3prLogo {
	position: relative;
	vertical-align: top;
}
.c3prTagline { position: relative; }
.login {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 6px 10px 0px 20px;
	font-size: .85em;
}
.login a {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
.login a:hover { color: #FFFF00; }
#instName {
position:absolute;
top:1px;
left:245px;
color:white;
font-size:9pt;
width:300px;
}
#instName img {
float:left;
margin-right:5px;
}

/* top-level tabs */

a#firstlevelnav_searchRegistrationController {
	background-image: url(images/registration_btn.png);
	height: 0px;
	padding:45px 0px 0px 0px;
	width: 148px;
	float: left;
	margin-right: 0px;
}
a#firstlevelnav_searchRegistrationController:link { background-position:0px 0px; }
a#firstlevelnav_searchRegistrationController:hover { background-position:0px -45px; }
a#firstlevelnav_searchRegistrationController:active { background-position:0px -90px; }
.selected a#firstlevelnav_searchRegistrationController { background-image: url(images/registration_btn_selected.png); }

a#firstlevelnav_searchStudyController {
	background-image: url(images/studies_btn.png);
	height: 0px;
	padding:45px 0px 0px 0px;
	width: 148px;
	float: left;
	margin-right: 0px;
}
a#firstlevelnav_searchStudyController:link { background-position:0px 0px; }
a#firstlevelnav_searchStudyController:hover { background-position:0px -45px; }
a#firstlevelnav_searchStudyController:active { background-position:0px -90px; }
.selected a#firstlevelnav_searchStudyController { background-image: url(images/studies_btn_selected.png); }

a#firstlevelnav_searchParticipantController {
	background-image: url(images/personOrganization_btn.png);
	height: 0px;
	padding:45px 0px 0px 0px;
	width: 148px;
	float: left;
	margin-right: 0px;
}
a#firstlevelnav_searchParticipantController:link { background-position:0px 0px; }
a#firstlevelnav_searchParticipantController:hover { background-position:0px -45px; }
a#firstlevelnav_searchParticipantController:active { background-position:0px -90px; }
.selected a#firstlevelnav_searchParticipantController { background-image: url(images/personOrganization_btn_selected.png); }

a#firstlevelnav_createNotificationController {
	background-image: url(images/administration_btn.png);
	height: 0px;
	padding:45px 0px 0px 0px;
	width: 148px;
	float: left;
	margin-right: 0px;
}
a#firstlevelnav_createNotificationController:link { background-position:0px 0px; }
a#firstlevelnav_createNotificationController:hover { background-position:0px -45px; }
a#firstlevelnav_createNotificationController:active { background-position:0px -90px; }
.selected a#firstlevelnav_createNotificationController { background-image: url(images/administration_btn_selected.png); }

a#firstlevelnav_createReportController {
	background-image: url(images/advancedSearch_btn.png);
	height: 0px;
	padding:45px 0px 0px 0px;
	width: 148px;
	float: left;
	margin-right: 0px;
}
a#firstlevelnav_createReportController:link { background-position:0px 0px; }
a#firstlevelnav_createReportController:hover { background-position:0px -45px; }
a#firstlevelnav_createReportController:active { background-position:0px -90px; }
.selected a#firstlevelnav_createReportController { background-image: url(images/advancedSearch_btn_selected.png); }

/* second-level tabs */

#tabs2 {
	background: url(../images/chrome/tabs2_R.gif) no-repeat center left #A2A2A2;
	padding-right: 12px;
	min-height: 18px;
	font-size: .85em;
}
#tabs2 .tab {
	float: left;
	background: url(../images/chrome/tabs2_BG.gif) no-repeat top left;
	margin: 0px;
	padding: 2px 0px 2px 0px;
	line-height: 14px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #000000;
}
#tabs2 .tab div {
	position: relative;
	left: 6px;
	background: url(../images/chrome/tabs2_R.gif) no-repeat top right;
	padding: 0px 16px 0px 10px;
}
#tabs2 .selectedtab {
	float: left;
	background: url(../images/chrome/tabs2_BG_s.gif) no-repeat top left;
	margin: 0px;
	padding: 2px 0px 2px 0px;
	line-height: 14px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: #000000;
}
#tabs2 .selectedtab div {
	position: relative;
	left: 6px;
	background: url(../images/chrome/tabs2_R_s.gif) no-repeat top right;
	padding: 0px 16px 0px 10px;
}
#tabs2 a {
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
#tabs2 a:hover { color: #002EE2; }
/* third-level tabs */

#tabs3 {
	background: url(../images/chrome/tabs3_BG.gif) no-repeat top right;
	padding: 4px 12px 0px 0px;
	margin-left: 7px;
	height: 33px;
	font-size: .85em;
}
#tabs3 .tab {
	float: left;
	background: url(../images/chrome/tabs3_L.gif) no-repeat top left;
	margin: 0px;
	height: 17px;
}
#tabs3 .tab div {
	background: url(../images/chrome/tabs3_R.gif) no-repeat top right;
	padding: 2px 20px 0px 20px;
	height: 17px;
}
#tabs3 .selectedtab {
	float: left;
	background: url(../images/chrome/tabs3_L_s.gif) no-repeat top left;
	margin: 0px;
	height: 17px;
}
#tabs3 .selectedtab div {
	background: url(../images/chrome/tabs3_R_s.gif) no-repeat top right;
	padding: 2px 20px 0px 20px;
	height: 17px;
}
#tabs3 a {
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
#tabs3 a:hover { color: #002EE2; }
/* third-level workflow tabs */

#tabs3w {
	background: url(../images/chrome/tabs3w_R.gif) no-repeat top right;
	padding: 6px 12px 1px 0px;
	min-height: 18px;
	font-size: .85em;
	margin: 0px 8px 0px 7px;
}
#tabs3w .tab {
	float: left;
	background: url(../images/chrome/tabs2_BG.gif) no-repeat top left;
	margin: 0px;
	padding: 2px 0px 2px 0px;
	line-height: 14px;
	border-style: solid;
	border-width: 0px 1px 1px 0px;
	border-right-color: #000000;
	border-bottom-color: #001779;
}
#tabs3w .tab div {
	position: relative;
	left: 6px;
	background: url(../images/chrome/tabs2_R.gif) no-repeat top right;
	padding: 0px 16px 0px 10px;
}
#tabs3w .selectedtab {
	float: left;
	background: url(../images/chrome/tabs3w_BG_s.gif) no-repeat top left;
	margin: 0px;
	padding: 2px 0px 2px 0px;
	line-height: 15px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-right-color: #000000;
	border-bottom-color: #EFF7F9;
}
#tabs3w .selectedtab div {
	position: relative;
	left: 6px;
	background: url(../images/chrome/tabs3w_R_s.gif) no-repeat top right;
	padding: 0px 16px 0px 10px;
}
#tabs3w a {
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
#tabs3w a:hover { color: #002EE2; }
/* taskbar */

#taskbar {
	background:transparent url(images/taskbar_bg.png) repeat-x scroll center bottom;
	color:#FFFFFF;
	font-size:12pt;
	font-weight:bold;
	height:51px;
	position:relative;
	top:98px;
	vertical-align:middle;
	width:970px;
	z-index:1;
	display:block;
	padding-left:10px;
}
#taskbar a {
color:#FFFFFF;
float:left;
height:43px;
padding-top:6px;
text-decoration:none;
width:232px;
}
#taskbar a:hover {
	background-image: url(images/taskbar_hover.png);
	background-repeat: no-repeat;
}
#taskbar a:active {
	background-image: url(images/taskbar_active.png);
	background-repeat: no-repeat;
}
#taskbar a img {
border-style:none;
vertical-align:middle;
margin-left:5px;
margin-right:7px;
}
#taskbar #current {
	background-image: url(images/taskbar_selected.png);
	background-position:0 -1px;
	background-repeat: no-repeat;
}
#taskbar a img.imagegt18{
float:left;
margin-top:4px;
}
#taskbar a.gt18 {
	padding-top:4px;
	display:inline;
	line-height:16px;
}
#subTasks {
	background-color:#666666;
	background-image:url(images/thirdlevelnav_grey_gradient.png);
	background-position:center bottom;
	background-repeat:repeat-x;
	position:relative;
	top:89px;
	width:950px;
	font-size:11pt;
	z-index:0;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	font-weight:bold;
}
#subTasks a {
color:#fff;
padding-right:10px;
padding-left: 10px;
text-decoration:none;
}
#subTasks a:link {
color:#fff;
padding-right:10px;
text-decoration:none;
}
#subTasks a:hover {
text-decoration:underline;
}
#subTasks a#current {
	background-color:#E4C48F;
	padding-top: 3px;
	padding-bottom: 10px;	
	color:#333;
}
#subTasks a#current:hover {
text-decoration:none;
}
#linebelowsubtasks {
background-color:#E4C48F;
height:5px;
position:absolute;
top:178px;
width:100%;
}
/* main content boxes */

#summaryPane {
	float: left;
	width: 25%;
	margin: 0px 14px 12px 0px;
	background-color: #FFFFFF;
	vertical-align: top;
}
#mainPane {
	float: left;
	margin: 0px 14px 12px 0px;
	background-color: #FFFFFF;
	width: 70%;
}
.boxHeader { background: url(../images/chrome/boxheader_BG.gif) repeat-x top #1972C7; }
.boxHeader_L { background: url(../images/chrome/boxheader_BG_L.gif) no-repeat top left; }
.boxHeader_R { background: url(../images/chrome/boxheader_BG_R.gif) no-repeat top right; }
.boxHeader H2 {
	font-weight: 600;
	font-size: 13px;
	color: #FFFFFF;
	margin: 0px;
	padding: 6px 20px 4px 8px;
}
.box_T { background: url(../images/chrome/box_T.gif) repeat-x top; }
.box_L { background: url(../images/chrome/box_L.gif) repeat-y left; }
.box_R { background: url(../images/chrome/box_R.gif) repeat-y right; }
.box_B { background: url(../images/chrome/box_B.gif) repeat-x bottom; }
.box_TL { background: url(../images/chrome/box_TL.gif) no-repeat top left; }
.box_TR { background: url(../images/chrome/box_TR.gif) no-repeat top right; }
.box_BL { background: url(../images/chrome/box_BL.gif) no-repeat bottom left; }
.box_BR { background: url(../images/chrome/box_BR.gif) no-repeat bottom right; }
.boxTabs {
	height: 28px;
	margin: 0px 8px 0px 7px;
}
.boxContent { padding: 8px 24px 24px 24px; }
#headLane1 {
	background-color: #417691;
	height: 5px;
	font-size:0px;
	visibility:hidden;
}
.headLane2 {
	background: #fff;
	color:#000000;/*height: 48px;*/
}
#header { 
background-image:url(images/header_bg.png);
background-position:center top;
height:100px;
width:100%;
}
#headerTitle1 {
	background: url(../../images/C3PR_name.png) no-repeat left;
	width: 328px;
	height: 48px;
	position: relative;
	/*top: -6px;*/
    left: 10px;/*border:1px yellow dotted;*/
}
#headerTitle2 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	position: relative;
	/*width: 400px;*/
    top: 27px;
	left: 4px;
}
#logo {
position:absolute;
	background: url(../../images/C3PR_logo.png) no-repeat left;
    width: 230px;
	height: 100px;
	text-indent:-9999px;
}
#login-action {
position:absolute;
top:3px;
right:15px;
font-size: 0.9em;
color: #E4C48F;
text-align:right;
}
#login-action div{
font-weight:normal;
font-size:0.85em;
margin-top:5px;
}
#login-action a {
color: #E4C48F;
	font-weight: bold;
	text-decoration: none;
}
#login-action a:hover { color:#FFF; }
#welcome-user {
position:absolute;
top:5px;
left:610px;
color:#fff;
font-size:9pt;
}

/**** COMMON TAB STYLES (shared across all three levels) */

ul.tabs {
	margin: 0;
	padding: 0;
}
ul.tabs li {
	display: block;
	list-style-type: none;
	float: left;
	margin-right: 2px;
	padding: 0;
}
/**** SECTION TABS */

#sections {
	left:228px;
	position:absolute;
	top:53px;
}
#sections li { width:148px; z-index:1; }

#sections li.divider {
	background: url(images/menuLaneDivider.jpg) no-repeat top;
	height:20px;
	width:3px;
}
#sections li div {
	padding: 0 0;
	margin: 0;
	text-align: center;
	font-size: 10px;
}
#sections a {
	font-family: verdana;
	line-height: 18px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
#sections a.selected { color: #FFF; }
#sections a:hover {
	font-size: 10px;
	color: #FFF;
}
#sections li div.menuDivider {
	background: url(images/menuLaneDivider.jpg) no-repeat top;
	height:20px;
	width:3px;
}
/** M E N U **/
#menuLaneLeft {
	background: url(images/menuLaneLeft.jpg) no-repeat top left;
	height:20px;
}
#menuLaneRight {
	background: url(images/menuLaneRight.jpg) no-repeat top right;
	height:20px;
}
#menuLaneCenter {
	background: url(images/menuLaneCenter.jpg) repeat-x;
	height:20px;/* border:1px blue dotted; */
}
#menuLaneLeft1 {
	background: url(images/menuLaneLeft.jpg) no-repeat top left;
	height:20px;
}
#menuLaneRight1 {
	background: url(images/menuLaneRight.jpg) no-repeat top right;
	height:20px;
}
#menuLaneCenter1 {
	background: url(images/menuLaneCenter.jpg) repeat-x;
	height:20px;
	position:absolute;
}
/** C H A N G E S        END */

/**** GENERAL TAG STYLE OVERRIDES */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #2E3257;
	font-weight: 600;
}
h1 {
	font-family: verdana, arial;
	margin: 0px 0px 12px 0px;
	color: #000;
	font-weight: 600;
	font-size: 12px
}
h2 { font-size: 1.0em; }
h3, h4 {
	font-family:arial;
	font-size: 0.9em;
}
p { margin: 1em 0; }
/**** COMMON TEMPLATE ELEMENTS */

#footer {
	height: 65px;
	clear: both;
}


/**** PAGE CONTENT BOXES */

#main {
	padding:20px 18px 20px;
	position:relative;
	top:75px;
}
#flash-message {
	border: 1px solid #999;
	border-width: 1px 0;
	text-align: center;
	background-color: #ccc;
	margin: 1em auto;
	width: 75%;
	padding: 0.5em;
}
#flash-message.info {
	border-color: #390;
	background-color: #aea;
}
#flash-message.error {
	border-color: #930;
	background-color: #ea9;
}
/* A pane is a vertical subdivision of the page.
   Individual panes will need to have their widths specified
   if there's more than one in a page;
   the total should be something less than 100%. */
.pane {
	/*float: left;*/
    margin: 0px;
	padding: 0px 0px 0px 0px;
	clear: both;/*border: 1px green dotted;*/
}
.rightpanel {
	float: right;
	width: 50%;
	margin: 0 14px 14px 0;
	padding: 5px;
}
.leftpanel {
	float: left;
	width: 48%;
	margin: 0 5px 5px -2em;
	padding: 5px;
}
/** B O X */

/* Each pane will contain one or more "boxes" */
.box {
	background-color: #fff;
	margin-bottom: 12px;
	background: url(images/box/box_bg.jpg) repeat-x top;
}
.box .header { /* border:1px red dotted; */
}
.box .header h2 {
	color:#333366;
	font-size:1.7em;
	font-weight:normal;
	margin:0pt;
	padding-left:20px;
	padding-right:20px;
	padding-top:6px;
}
.hr {
	background-color:#999999;
	height:2px;
	margin-left:20px;
	margin-right:4px;
	margin-bottom:20px;
}
.box .header .background-L { background: url( images/box/box_header_bg_l.jpg ) no-repeat top left; }
.box .header .background-R { background: url( images/box/box_header_bg_r.jpg ) no-repeat top right; }
/** B O X     B O R D E R S    end **/

.border-T { /* background: url( images/box/box_T.gif ) repeat-x top; */
}
.border-L { background: url( images/box/box_l.png ) repeat-y left; }
.border-R { background: url( images/box/box_r.png ) repeat-y right; }
.border-B { background: url( images/box/box_bottom.png ) repeat-x bottom; }
.border-TL {
	background: url( images/box/box_TL.jpg ) no-repeat top left;
	border: 1px red dotted;
}
.border-TR {
	background: url( images/box/box_TR.jpg ) no-repeat top right;
	border: 1px yellow dotted;
}
.border-BL { background: url( images/box/box_bl.png ) no-repeat bottom left; }
.border-BR { background: url( images/box/box_br.png ) no-repeat bottom right; }
/** B O X    B O R D E R S    end **/



.box .interior {
	min-height:1px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.box.tabbed .interior { }
.box .content { padding: 0px 5px 0px 0px; }
/*.box h3 {
	position: relative;
	border-bottom:1px solid #999999;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	margin-top: 5px;
}*/
/**** TABS WITHIN A BOX */

.box ul.inner.tabs {
	/* this overspecific selector is necessary for IE */
    background: url( ../images/chrome/inner-tab_BG.gif ) no-repeat top right;
	padding: 4px 7px 0 0;
	margin: 0 0 0 7px;
	height: 20px;
	font-size: .9em;
}
.box ul.inner.tabs li { background: url( ../images/chrome/inner-tab_L.gif ) no-repeat top left; }
.box ul.inner.tabs li.selected { background-image: url( ../images/chrome/inner-tab_L_s.gif ); }
.box ul.inner.tabs li div {
	background: url( ../images/chrome/inner-tab_R.gif ) no-repeat top right;
	padding: 0 20px;
}
.box ul.inner.tabs li.selected div { background-image: url( ../images/chrome/inner-tab_R_s.gif ); }
.box ul.inner.tabs a {
	line-height: 20px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
.box ul.inner.tabs a:hover { color: #002EE2; }
/* two boxes with the additional class "paired" are displayed side-by-side */
.box.paired {
	float: left;
	width: 45%;
	margin: 1em;
}
.division { clear: both; }
.division h3 {
	font-size: 16px;
	font-weight:bold;
	color: #333366;
	position: relative;
	border-bottom:1px solid #999999;
	margin-bottom: 10px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
	padding-left: 8px;
	margin-top: 5px;
}
/**** REUSABLE PAGE ELEMENTS/CLASSES */

.error input { border-color: #c03; }
.error .label { color: #c03; }
ul.errors, p.errors { color: #c03; }
ul.errors {
	margin: 0;
	padding: 0 1em 0.2em 1em;
}
ul.errors li {
	margin: 0 0.8em;
	padding: 0;
}
/* The delete checkbox which may go in a box's h3s */
.delete-control {
	position: absolute;
	top: 0;
	right: 4px;
	margin: 3px 4px 0 0;
}
/*
    'row' is a class for label: value type rows.  The intent is
    that each row would contain 2-3 subdivs:  a label (float: left), an optional extra
    (float: right), and the value (positioned naturally).
 */
div.row {
	padding: 2px;
	margin: 1px 0;
}
/* Automatically clear after each row
Based on http://www.positioniseverything.net/easyclearing.html */
div.row:after, .autoclear:after {
	display: block;
	content: ' ';
	clear: both;
	height: 0;
	visibility: hidden;
}
/*div.row div.label, div.row div.value { line-height: 1.5em; }*/
div.row div.label {
	font-weight: normal;
	float: left;
	margin-left: 0.5em;
	text-align: right; /* default width; pages might override */
	width: 13em;
	font-weight:bold;
}
div.row div.value {
	font-weight: normal; /* default; should be changed whenever .label width is changed */
	margin-left: 14em;
}
img.indicator { visibility: hidden; }
.downloadLinks {
	font-weight: bold;
	float: left;
	margin-left: 0.2em;
	font-size:0.95em;
}
/*
  Styles for Table Data
*/
table.tablecontent { border-collapse: collapse; }
.tablecontent td, .tablecontent th {
	padding: 0.3em;
}
.tablecontent th {
	text-align: left;
	background-color: #e6e6e6;
	background-image:url(images/extremeTableheader_bg.png);
	background-position:bottom;
	background-repeat:repeat-x;
}
.tablecontent td {
	border-color: #888 #ddd;
	/* border-bottom: 1px solid #C1DAD7; */
	font-size:12px
}
.red { color: #EE3324; }
.required-indicator:before {
	content: "REPLACE * WITH requiredIndicator.tag! ";
	color: #900;
	font-family: serif;
}
.requiredIndicator {
	color: #900;
	font-family: serif;
}
#build-name {
	color: #666;
	font-size: 85%;
	padding: 3px;
	position: relative;
	bottom: 0;
	clear: both;
}
.selectobject {
	background-color: #F6F6F6;
	border: 1px dotted #CCC;
	cursor: pointer;
	float: left;
	margin: 2px;
	padding: 20px;
	text-align: center;
}
.selectobject:hover {
	border: 1px solid #CCC;
	background-color: #E9E9E9;
}
#nav {
	color:#3064a5;
	padding-top: 7px;
	padding-left: 5px;
	font-size: 11px;
	font-weight: normal;
	font-family: tahoma;
}
#nav a {
	text-decoration: none;
	color:#3064a5;
}
#nav a:link {
	text-decoration: none;
	color:#3064a5;
}
#nav a:hover {
	text-decoration: none;
	color:#074899;
}
.instructions {
margin-bottom:20px;
margin-left:0px;
}
.instructions .summarylabel {
float:left;
font-weight:bold;
margin-left:10px;
margin-right:7px;
text-align:right;
}
.instructions .summaryvalue {
font-weight:normal;
margin-left:90px;
text-align:left;
width:75%;
}
#genericEpoch h3 {
	background-color:#e6e6e6;
}
#registrationSummary {
	background-image:url(images/summary_box_bg.png);
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	background-color:#faebc2;
	background-repeat:repeat-x;
	padding-left:5px;
}
.no-selection 
{
    font-style:italic;
    color:#6f6f6f;
}


/* BEGIN Control Panel Styles */
#controlPanel {
	width:100%;
	text-align:right;
	position:relative;
	display:block;
	min-height:38px;
	min-width:150px;
	margin-bottom:15px;
}
#controlPanel #header {
	height:0px;
	width:auto;
	background-image:url(images/controlPanel/header_bg.png);
	background-repeat:repeat-x;
	padding:0;
}
#controlPanel #header #title {
	height:8px;
	width:9px;
	display:block;
	float:left;
	background-image:url(images/controlPanel/header_left.png);
	background-position:top;
	background-repeat:no-repeat;
}
#controlPanel #header #right {
	height:10px;
	width:9px;
	display:block;
	float:right;
	background-image:url(images/controlPanel/header_right.png);
	background-position:top;
	background-repeat:no-repeat;
}
#controlPanel #bodyleft {
	width:4px;
	background-image:url(images/controlPanel/body_left.png);
	background-repeat:repeat-y;
	padding:0;
} 
#controlPanel #bodyright {
	width:4px;
	background-image:url(images/controlPanel/body_right.png);
	background-repeat:repeat-y;
	padding:0;
} 
#controlPanel #body {
	background-image:url(images/controlPanel/body_bg.png);
	background-color:#5c5c5c;
	background-repeat:repeat-x;
	position:relative;
	padding:0;
/* 	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px; */
}
#controlPanel #footer {
	height:19px;
	bottom:0;
	background-image:url(images/controlPanel/footer_bg.png);
	padding:0;
}
#controlPanel #footer #right {
	height:19px;
	width:15px;
	display:block;
	float:right;
	background-image:url(images/controlPanel/footer_right.png);
	background-position:top;
}
#controlPanel #footer #left {
	height:19px;
	width:16px;
	display:block;
	float:left;
	background-image:url(images/controlPanel/footer_left.png);
	background-position:top;
}
.oneControlPanelItem {
	text-align:center;
	float:left;
	margin:5px;

}
.oneControlPanelItem img {

}
.oneControlPanelItem a {
	color:white;
}
/* END Control Panel Styles */
.division h3 a {
	color:#333366;
}
/* BEGIN c3pr button type="anchor" */
a.c3pr-button {
	height: 40px;
	padding:8px;
	background-image:url(images/mocha_btn_bg.png);
	background-position:left;
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:1.4em;
	color:#491F0A;
	text-decoration:none;
}
a.c3pr-button:hover {
	background-image:url(images/mocha_btn_bg_hover.png);
}
a.c3pr-button:hover .right {
	background-image:url(images/mocha_btn_bg_hover.png);
}
a.c3pr-button:active {
	background-image:url(images/mocha_btn_bg_active.png);
}
a.c3pr-button:active .right {
	background-image:url(images/mocha_btn_bg_active.png);
}
a.c3pr-button .right {
	background-color:white;
background-image:url(images/mocha_btn_bg.png);
background-position:right center;
background-repeat:no-repeat;
display:block;
height:40px;
position:absolute;
right:6px;
top:0px;
width:3px;
}
a.c3pr-button img {
	vertical-align:middle;
}
/* END c3pr button type="anchor" */

/* Begin c3pr button type="button" */
button.c3pr-button {
	behavior: url('/c3pr/js/button-pseudoclass-IE-hack.htc');
	height: 40px;
	padding:8px;
	background-image:url(images/mocha_btn_bg.png);
	background-position:left;
	background-repeat:no-repeat;
	border:none;
	background-color:transparent;
	position:relative;
	font-size:1.4em;
	color:#491F0A;
	text-decoration:none;
}
button.c3pr-button:hover, button.c3pr-button.hover {
	background-image:url(images/mocha_btn_bg_hover.png);
}
button.c3pr-button:hover .right, button.c3pr-button.hover .right {
	background-image:url(images/mocha_btn_bg_hover.png);
}
button.c3pr-button:active, button.c3pr-button.active {
	background-image:url(images/mocha_btn_bg_active.png);
}
button.c3pr-button:active .right, button.c3pr-button.active .right {
	background-image:url(images/mocha_btn_bg_active.png);
}
button.c3pr-button .right {
	background-color:white;
	background-image:url(images/mocha_btn_bg.png);
	background-position:right center;
	background-repeat:no-repeat;
	display:block;
	height:40px;
	position:absolute;
	right:11px;
	top:-9px;
	width:3px;
}
button.c3pr-button img {
	vertical-align:middle;
}
/* END c3pr button type="button" */