@charset "utf-8";
/* Skin specific CSS document for IE only */

#sections {
	LEFT: 228px;
	POSITION: absolute;
	TOP: 54px
}
button.c3pr-button {
	padding:8px 0;
}
a.c3pr-button .right {
	right:0px;
	top:1px;
}
button.c3pr-button .right {
	right:0px;
	top:0px;
}
