/*
 * Styles for tabbed flow controllers
 */

/* second-level tabs */

#workflow-tabs {
padding:15px 15px 5px;
position:relative;
width:950px;
z-index:0;
clear:both;
top:46px;
}

#workflow-tabs li {
padding: 2px 0;
font-size: 10pt;
}

#workflow-tabs li.selected a {
	background-image: url(images/thirdlevelnav_grey_gradient.png);
	color: #FFFFFF;
	background-color: #333333;
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
#workflow-tabs li.selected a:hover {
text-decoration:none;
}

#workflow-tabs li div {
  position: relative;
  left: 6px;
  background: url(images/fourth_level_next.png) no-repeat top right;
  padding: 0 16px 0 10px;
}

#workflow-tabs li.last div {
  background-image: none;
}

#workflow-tabs a {
  text-decoration: none;
  color: #333333;
}

#workflow-tabs a:hover {
text-decoration:underline;
}

/**** MAJOR PAGE DIVISIONS */

#summary-pane {
  width: 25%;
}

#summary-pane .row .label {
  width: 35%;
}

#summary-pane .row .value {
  margin-left: 40%;
}

#main-pane {
  width: 70%;
}

/**** FLOW-SPECIFIC CONTROLS */

.buttons {
  border-top: 1px solid #000;
  clear: both;
}

.buttons input {
  padding: 2px;
  margin: 3px;
}

.local-buttons {
  float: right;
  clear: both;
}

.local-buttons input {
    font-size: 0.9em;
}

.flow-buttons {
  clear: both;
  margin-top: 8px;
}

.flow-buttons .prev {
  float: left;
}
.flow-buttons .next {
  float: right;
}